<div class="relative-position">
	<%= image_tag "cubamodela_contact_cuba_models.jpg", alt: "CubaModela Fashion Photography Cuba Models Havana", class: "img-responsive" %>
	<div id="contact-left-text" class="text-center">
		<p>Para preguntas y respuestas</p>
		<br/>
		<p>contactenos a traves de</p>
		<br/>
		<p>cubamodela@gmail.com</p>
		<p>o visite nuestra <%= link_to "FAQ", static_pages_help_path, class: "btn btn-link" %></p>
	</div>

	<div id="contact-right-text" class="text-center">
		<p>Opiniones y sugerencias</p>
		<br/>
		<%= form_tag({ controller: "admin", action: "send_message_admin" }, class: "") %>
			<div class="form-group">
				<%= text_area(:message, :body, size: "30x10", class: "", style: "padding: 20px;") %>
			</div>
			<span class="span-margin-left"></span>
			<span class="span-margin-left"></span>
			<%= submit_tag(t('forms.buttons.send'), class: "btn btn-primary btn-lg") %>
	</div>
</div>