<div class="relative-position">
	<%= image_tag "home_banner_carousel_slide_2.jpg", alt: "Banner Home Page", class: "img-responsive" %>
	<div id="contact-left-text" class="text-center">
		<p>For answers and questions</p>
		<br/>
		<p>contact us throw</p>
		<br/>
		<p>cubamodela@gmail.com</p>
		<p>or visit our <%= link_to "FAQ", "#", class: "btn btn-link" %></p>
	</div>

	<div id="contact-right-text" class="text-center">
		<p>Opinions and sugestions</p>
		<br/>
		<%= form_tag({ controller: "admin", action: "send_message_admin" }, class: "") %>
			<div class="form-group">
				<%= text_area(:message, :body, size: "50x10", class: "", style: "padding: 20px;") %>
			</div>
			<span class="span-margin-left"></span>
			<span class="span-margin-left"></span>
			<%= submit_tag(t('forms.buttons.send'), class: "btn btn-primary btn-lg") %>
	</div>
</div>
