<div id="help-center-container" class="container-center-horizontal-large-small-top">
	<div>
		<h1 class="text-center">Welcome to CubaModela Help Center</h1>
	</div>

	<div>
		<h3>Content list</h3>
		<ul>
		  <li><%= link_to "FAQ", "#section-faq", class: "btn btn-link" %></li>
		  <li><%= link_to "Contractor profile", "#section-profile-contractor", class: "btn btn-link" %></li>
		  <li><%= link_to "Model profile", "#section-profile-model", class: "btn btn-link" %></li>
		  <li><%= link_to "Photographer profile", "#section-profile-photographer", class: "btn btn-link" %></li>
		  <li><%= link_to "Guest profile (In develop)", "#section-profile-guest", class: "btn btn-link" %></li>
		  <li><%= link_to "Casting management", "#section-casting", class: "btn btn-link" %></li>
		  <li><%= link_to "Booking a model", "#section-booking", class: "btn btn-link" %></li>
		  <li><%= link_to "Terms and conditions", "#section-terms-conds", class: "btn btn-link" %></li>
		</ul>
	</div>

	<div id="section-faq">
		<h3>FAQ</h3>
		<blockquote>
		  <p>What is CubaModela?</p>
		  <footer>CubaModela is the network of professionals in the Cuban industry of fashion and photography. We connect through Castings and Direct Reservations to models and photographers with professionals and organizations interested in their work. Other services can be contracted through us to complement the experience of photographic, audiovisual and event productions in Cuba.</footer>
		</blockquote>
		<blockquote>
		  <p>What advantages do I have as a model of CubaModela?</p>
		  <footer>
		  	<ul>
		  		<li>Access to new sources of work.</li>
		  		<li>Possibility of being found by professionals of the industry and hunts international and national scouts talents.</li>
		  		<li>Improve your resume as a model.</li>
		  		<li>Personalized promotion through CubaModela, Facebook, Instagram, Twitter, Google+ and Pinterest.</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>What advantages do I have as a Photographer from CubaModela?</p>
		  <footer>
		  	<ul>
		  		<li>Personalized promotion in CubaModela.</li>
		  		<li>Possibility of accessing new international sources of work.</li>
		  		<li>Personalize the catalogue and offers.</li>
		  		<li>Focused promotion for people looking for photographers for Quince, Weddings and Events.</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>What advantages do I have as a Contractor of CubaModela?</p>
		  <footer>
		  	<ul>
		  		<li>Access to the only network of Cuban Models and Photographers online. All in one place.</li>
		  		<li>Generate Casting and make Direct Model Reserves.</li>
		  		<li>Contact Photographers for specialized jobs.</li>
		  		<li>Hire specialized services for contractors' needs. (Coming soon)</li>
		  		<li>Access to additional experiences that will help you understand the Cuban reality. (Coming soon)</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>Qué ventajas tengo como Nueva Cara?</p>
		  <footer>sjsdg gjgjegj gjsejgiejr edgjerjghi iejgierjgi giegre</footer>
		</blockquote>
		<blockquote>
		  <p>Qué ventajas tengo como invitado de CubaModela?</p>
		  <footer>sjf gsfgf geguje hggug gujdgu gdgfufduhf </footer>
		</blockquote>
		<blockquote>
		  <p>Cómo me entero de los trabajos?</p>
		  <footer>
		  	<ul>
		  		<li>Visitandonos frecuentemente y accediendo a las secciones de castings disponibles.</li>
		  		<li>Revisando frecuentemente el email y el inbox personal de usuario.</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>Qué requerimientos existen para convertirme en modelo de CubaModela.?</p>
		  <footer>
		  	<ul>
		  		<li>Edad igual o mayor a 18 años.</li>
		  		<li>Completar toda la información requerida por el perfil.</li>
		  		<li>Completar el álbum (Professional Book) de acuerdo a nuestros requerimientos. <%= link_to "Example and tips", static_pages_profile_example_path, class: "btn btn-link" %></li>
		  	</ul>
		  	<br/>
		  	Todos los modelos serán registrados como Nueva Cara. Si el modelo es un modelo experimentado y cuenta con un perfil de primer nivel puede inmediatamente hacer una solicitud para subir su categoría a Modelo Profesional.
		  </footer>
		</blockquote>
		<blockquote>
		  <p>Cómo lograr que seas invitado y aceptado en mayor número de Castings y reservas directas?</p>
		  <footer>
		  	<ul>
		  		<li>El modelo debe completar adecuadamente todos los datos personales y aptitudes.</li>
		  		<li>Debe subir fotos en el Album Polaroid con las exigencias requeridas por el equipo de CubaModela.</li>
		  		<li>Las fotos del álbum profesional deben tener una calidad aceptable y ser lo más profesionales posibles.</li>
		  		<li>Se recomienda no subir fotos con otras personas y deben ser fotos en las que se reconozca la persona así como se resalten las cualidades físicas del modelo.</li>
		  		<li>De tener estudios o cursos incluirlos en la sección currículum de su perfil.</li>
		  		<li>Las modelos Nuevas Caras, Profesionales y Premium aparecerán siempre bien identificadas a lo largo de todo el sitio.</li>
		  		<li>Las modelos Premium tendrán prioridad en todas las listas.</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>Que es una Nueva Cara?</p>
		  <footer>
		  	Subcategoría de modelo. Se sobreentiende una persona con aspiraciones a ser modelo, con cero o poca experiencia en la industria del modelaje pero con potencialidades por sus características físicas y aptitudes.
		  </footer>
		</blockquote>
		<blockquote>
		  <p>Qué es un Modelo Profesional?</p>
		  <footer>
		  	Subcategoría de modelo. Se sobreentiende una persona con experiencia en la industria del modelaje, en propiedad de fotos profesionales y haber realizado trabajos profesionales.
		  </footer>
		</blockquote>
		<blockquote>
		  <p>Qué es un Modelo Premium?</p>
		  <footer>
		  	Es un plan para modelos que les brinda una serie de ventajas, entre ellas: Mayor número de fotos en el álbum profesional, prioridad en las búsquedas y listas de modelos.
		  </footer>
		</blockquote>
	</div>
	<br/>
	<div id="section-profile-contractor">
		<h3>Perfil de Contratista</h3>
		<p>
			Es el perfil que utiliza el profesional de la industria interesado en contratar modelos o fotógrafos para un determinado trabajo profesional en Cuba. Como contratista tendrá derecho a generar Castings y realizar Reservas Directas.
		</p>
	</div>
	<br/>
	<div id="section-profile-model">
		<h3>Perfil de Modelo</h3>
		<p>
			Es el perfil que utilizan los modelos para darse publicidad y ser encontrado por Contratistas. Como modelo tendrá el derecho a aplicar a Casting Públicos, así como aceptar invitaciones a Reservas Directas y Castings.
		</p>
	</div>
	<br/>
	<div id="section-profile-photographer">
		<h3>Perfil de Fotógrafo</h3>
		<p>
			Es el perfil que utilizan los Fotógrafos para darse publicidad y ser encontrados por contratistas nacionales e internacionales. En el caso de que el fotógrafo quiere crear un casting o hacer una reserva directa a través de CubaModela deberá crearse un perfil adicional de Contratista.
		</p>
	</div>
	<br/>
	<div id="section-profile-guest">
		<h3>Perfil de Invitado</h3>
		<p>
			Es el perfil que utilizan aquellas personas que visitan la página y están interesados en contratar servicios como fotografía, cursos, experiencias, taxis, hospedaje, equipamiento.
		</p>
	</div>
	<br/>
	<div id="section-casting">
		<h3>Gestión de Casting</h3>
		<p>
			
		</p>
	</div>
	<br/>
	<div id="section-booking">
		<h3>Reserva directa</h3>
		<p>
			
		</p>
	</div>
	<br/>
	<div id="section-terms-conds">
		<h3>Términos y condiciones</h3>
		<p>
			
		</p>
	</div>

	<br/>
	<div>
		<h4>Cualquier duda contactenos a traves de cubamodela@gmail.com</h4>
	</div>
</div>
