<div id="help-center-container" class="container-center-horizontal-large-small-top">
	<div>
		<h1 class="text-center">Welcome to CubaModela Help Center</h1>
	</div>

	<div>
		<h3>Content list</h3>
		<ul>
		  <li><%= link_to "FAQ", "#section-faq", class: "btn btn-link" %></li>
		  <li><%= link_to "Contractor profile", "#section-profile-contractor", class: "btn btn-link" %></li>
		  <li><%= link_to "Model profile", "#section-profile-model", class: "btn btn-link" %></li>
		  <li><%= link_to "Photographer profile", "#section-profile-photographer", class: "btn btn-link" %></li>
		  <li><%= link_to "Guest profile (In develop)", "#section-profile-guest", class: "btn btn-link" %></li>
		  <li><%= link_to "Casting management", "#section-casting", class: "btn btn-link" %></li>
		  <li><%= link_to "Booking a model", "#section-booking", class: "btn btn-link" %></li>
		  <li><%= link_to "Terms and conditions", "#section-terms-conds", class: "btn btn-link" %></li>
		</ul>
	</div>

	<div id="section-faq">
		<h3>FAQ</h3>
		<blockquote>
		  <p>What is CubaModela?</p>
		  <footer>CubaModela is the network of professionals in the Cuban industry of fashion and photography. We connect through Castings and Direct Reservations to models and photographers with professionals and organizations interested in their work. Other services can be contracted through us to complement the experience of photographic, audiovisual and event productions in Cuba.</footer>
		</blockquote>
		<blockquote>
		  <p>What advantages do I have as a model of CubaModela?</p>
		  <footer>
		  	<ul>
		  		<li>Access to new sources of work.</li>
		  		<li>Possibility of being found by professionals of the industry and hunts international and national scouts talents.</li>
		  		<li>Improve your resume as a model.</li>
		  		<li>Personalized promotion through CubaModela, Facebook, Instagram, Twitter, Google+ and Pinterest.</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>What advantages do I have as a Photographer from CubaModela?</p>
		  <footer>
		  	<ul>
		  		<li>Personalized promotion in CubaModela.</li>
		  		<li>Possibility of accessing new international sources of work.</li>
		  		<li>Personalize the catalogue and offers.</li>
		  		<li>Focused promotion for people looking for photographers for Quince, Weddings and Events.</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>What advantages do I have as a Contractor of CubaModela?</p>
		  <footer>
		  	<ul>
		  		<li>Access to the only network of Cuban Models and Photographers online. All in one place.</li>
		  		<li>Generate Casting and make Direct Model Reserves.</li>
		  		<li>Contact Photographers for specialized jobs.</li>
		  		<li>Hire specialized services for contractors' needs. (Coming soon)</li>
		  		<li>Access to additional experiences that will help you understand the Cuban reality. (Coming soon)</li>
		  	</ul>
		  </footer>
		</blockquote>
		<blockquote>
		  <p>How do I know about new jobs offers?</p>
		  <footer>
		  	<ul>
		  		<li>Visit us frecuently and searching for new castings.</li>
		  		<li>Checking frecuently your email and your personal inbox on CubaModela.</li>
		  	</ul>
		  </footer>
		</blockquote>
	</div>
	<br/>
	<div>
		<p>This page is currently on develop</p>
	</div>
	<div>
		<h4>Cualquier duda contactenos a traves de cubamodela@gmail.com</h4>
	</div>
</div>
