<h1 class="hide">Somos la red profesional de la moda y la fotografia en Cuba. Descubre modelos y fotografos cubanos, asi como lugares unicos para sus fotografias.</h1>
<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="home-line-users-amounts-container-auth-<%= user_signed_in?.to_s %>">
            <div class="row text-center">
                <div class="col-md-6 col-xs-6">
                    <h2><%= t('views.static_pages.home.models_text').upcase %>  <span class="home-line-users-count"><%= get_models_count %></span></h2>
                </div>
                <div class="col-md-6 col-xs-6">
                    <h2><%= t('views.static_pages.home.photographers_text').upcase %>  <span class="home-line-users-count"><%= get_photographers_count %></span></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<% if !user_signed_in? %>
    <div class="row row-no-space">
        <div class="col-md-12 col-xs-12 cell-no-space">
            <div id="subscribe-container" class="relative-position">
              <h2 id="subscribe-form-header">SUSCRIBETE</h2>
              <div id="subscribe-header" class="text-center">
                <h2>
                  Conviertete ya en uno de nuestros miembros
                </h2>
                <%= image_tag "cubamodela_logo_white.png", width:"150", alt: "Logo" %>
              </div>
              <div id="subscribe-subheader" class="text-center">
                <h3>
                  UD desea contratar a nuestros modelos cubanos? Registrece como EMPLEADOR.
                </h3>
              </div>
              <div id="subscribe-subheader-2" class="text-center">
                <h3>
                  Quiere llevar su carrera como modelo al proximo nivel? Registrece como MODELO.
                </h3>
              </div>
              <div id="subscribe-subheader-3" class="text-center">
                <p>
                  Leer mas aserca de los distintos perfiles.
                  <%= link_to t('views.shareds.read_texts.read_here_text'), static_pages_profiles_flow_path, remote: true, class: "btn btn-link" %>
                </p>
              </div>
              <div id="home-subscribe-form-container">
                <%= render "home_sign_up" %>
              </div>
            </div>
        </div>
    </div>  
<% end %>

<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="models-container" class="relative-position">
          <div id="models-header">
              <h2 class="text-center">DESCUBRE MODELOS CUBANOS</h2>
          </div>
          <div class="relative-position">
              <%= image_tag "cubamodela_home_section_models_cuba_models_up.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
              <div id="models-btn-new-face" class="text-center">
                <%= link_to "NUEVA CARA", index_new_faces_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "2.0s" } %>
              </div>
              <div id="models-btn-professional" class="text-center">
                <%= link_to "PROFESIONAL", index_professional_models_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "2.5s" } %>
              </div>
              <div id="models-btn-premium" class="text-center">
                <%= link_to "BUSCAR", search_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "3.0s" } %>
              </div>
              <div id="models-btn-see-all" class="text-center">
                <%= link_to "VER TODOS", profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "3.5s" } %>
              </div>
              <div class="notify"></div>
          </div>
          <div class="relative-position">
              <%= image_tag "cubamodela_home_section_models_cuba_models_down.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
              <div id="models-btn-search" class="text-center">
                <%= link_to "BUSCAR MODELOS CUBANOS", search_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "3.0s" } %>
              </div>
              <div class="notify"></div>
          </div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="learn-profile-container" class="relative-position">
          <%= image_tag "cubamodela_home_section_lern_profile_cuba_models_es.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
          <div id="learn-profile-btn-learn" class="text-center">
            <%= link_to "APRENDER (En desarrollo)", "#", class: "btn-home", data: { animation: "animated pulse", delay: "2.0s" } %>
          </div>
          <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="photographers-container" class="relative-position">
            <%= image_tag "cubamodela_home_section_photographers_cuba_models_es.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
            <div id="photographers-footer" class="text-center">
                <%= link_to "PRONTO", "#", class: "btn-home", data: { animation: "animated pulse", delay: "2.0s" } %>
            </div>
            <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="follow-container" class="relative-position">
          <div id="follow-header">
              <h2 class="text-center">SIGUENOS</h2>
          </div>
          <div id="section-social-icons-container" class="text-center center-block">
            <ul class="list-inline">
              <li>
                <div class="section-social-icon">          
                  <%= link_to(get_facebook_link, class: "link-image", :target => "_blank") do %>
                      <%= image_tag "cubamodela_icon_facebook_cuba_models.png", alt: "CubaModela Cuban Models Cuban Photographers Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "1.0s" } %> 
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to(get_instagram_link, class: "link-image", :target => "_blank") do %>
                      <%= image_tag "cubamodela_icon_instagram_cuba_models.png", alt: "CubaModela Cuban Models Cuban Photographers Instagram Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "1.5s" } %>  
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to(get_pinterest_link, class: "link-image", :target => "_blank") do %>
                      <%= image_tag "cubamodela_icon_pinterest_cuba_models.png", alt: "CubaModela Cuban Models Cuban Photographers Pinterest Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "2.0s" } %>  
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to(get_google_plus_link, class: "link-image", :target => "_blank") do %>
                      <%= image_tag "cubamodela_icon_googleplus_cuba_models.png", alt: "CubaModela Cuban Models Cuban Photographers Google+ Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "2.5s" } %> 
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to(get_twitter_link, class: "link-image", :target => "_blank") do %>
                      <%= image_tag "cubamodela_icon_twitter_cuba_models.png", alt: "CubaModela Cuban Models Cuban Photographers Twitter Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "3.0s" } %>  
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to(get_youtube_link, class: "link-image", :target => "_blank") do %>
                      <%= image_tag "cubamodela_icon_youtube_cuba_models.png", alt: "CubaModela Cuban Models Cuban Photographers YouTube Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "3.5s" } %>  
                  <% end %>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="us-container" class="relative-position">
            <%= image_tag "cubamodela_home_section_us_cuba_models.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
            <div id="us-body">
                <div class="visible-xs-block visible-sm-block text-center">
                  <h2>SOBRE NOSOTROS</h2>
                  <%= link_to "Leer mas acerca de nosotros", static_pages_aboutus_path, class: "btn-article", data: { animation: "animated pulse", delay: "1.5s" } %>
                </div>
                <div class="visible-md-block visible-lg-block text-left">
                  <h2>SOBRE NOSOTROS</h2>
                  <p>CubaModela es la Red Online de Profesionales de la industria de la moda y la fotografía en Cuba. Nuestra misión es conectar a modelos y fotógrafos cubanos con clientes nacionales e internacionales. Brindamos un espacio para la publicidad personalizada a través de los perfiles que constituirán el criterio fundamental de selección para encontrar trabajos.</p>
                  <p>Adicionalmente, CubaModela brinda servicios especializados de apoyo a las producciones fotográficas, audiovisuales y eventos en la Isla. También acompañamos la estancia de profesionales de la industria extranjeros ofreciendo experiencias únicas que les ayudará a comprender la realidad cubana.</p>
                </div>
            </div>
            <div id="us-footer" class="text-center">
                <%= link_to "CONTACTANOS", static_pages_contact_path, class: "btn-article", data: { animation: "animated pulse", delay: "2.0s" } %>
            </div>
            <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="partners-container" class="notify relative-position">
          <div id="partners-header">
              <h2 class="text-center">ASOCIADOS</h2>
          </div>
          <div class="row partner-row">
              <div class="col-md-4 col-xs-4 partner-cell">
                    <div class="well partner-container">
                        <div class="partner-logo">
                            <%= image_tag "cubamodela_home_section_partners_cuba_models_designer.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography Partner", class: "img-circle img-responsive img-full" %>
                        </div>
                        <p class="text-center partner-ocupation">Diseñador</p>
                        <p class="text-center partner-name">Patricio Herrera</p>
                        <div class="text-center partner-link">
                            <%= link_to t('forms.buttons.read_more'), "#", class: "btn btn-primary" %>
                        </div>
                    </div>
              </div>
              <div class="col-md-4 col-xs-4 partner-cell">
                    <div class="well partner-container">
                        <div class="partner-logo">
                            <%= image_tag "cubamodela_home_section_partners_cuba_models_photographer.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography Partner", class: "img-circle img-responsive img-full" %>
                        </div>
                        <p class="text-center partner-ocupation">Fotografo</p>
                        <p class="text-center partner-name">Camila Serrano</p>
                        <div class="text-center partner-link">
                            <%= link_to t('forms.buttons.read_more'), "#", class: "btn btn-primary" %>
                        </div>
                    </div>
              </div>
              <div class="col-md-4 col-xs-4 partner-cell">
                    <div class="well partner-container">
                        <div class="partner-logo">
                            <%= image_tag "cubamodela_home_section_partners_cuba_models_photographer.jpg", alt: "CubaModela Cuban Models Cuban Photographers Cuba Havana Models Fashion Photography Partner", class: "img-circle img-responsive img-full" %>
                        </div>
                        <p class="text-center partner-ocupation">Fotografo</p>
                        <p class="text-center partner-name">Xuan Linh</p>
                        <div class="text-center partner-link">
                            <%= link_to t('forms.buttons.read_more'), "#", class: "btn btn-primary" %>
                        </div>
                    </div>
              </div>
          </div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="gallery-home-container" class="relative-position">
            <%= image_tag "cubamodela_home_section_gallery_cuba_models.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
            <div id="gallery-home-footer" class="text-center">
                <%= link_to "VISITA NUESTRA GALERIA DE MODELOS CUBANOS", static_pages_gallery_path, class: "btn-gallery", data: { animation: "animated pulse", delay: "2.0s" } %>
            </div>
            <div class="notify"></div>
        </div>
    </div>
</div>
<div id="modal-container" class="modal fade"></div>