<% if user_signed_in? %>
<% else %>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center" style="margin-top:30px;margin-bottom:50px;font-family: 'actor-regular';">Plataforma de modelaje y fotografía en Cuba</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 text-center">
            Aqui una imagen con excelente calidad, diagrama del flujo de la web, el modelo entra, el contractor crea casting, lo invita, etc.
        </div>
        <div class="col-md-4">
            <%= render "home_sign_up" %>
        </div>
    </div>
<% end %>

<div class="row">
    <div class="col-md-12">
        <div id="home-line-users-amounts-container">
            <div class="row text-center">
                <div class="col-md-4">
                    <h2><%= t('views.static_pages.home.models_text').upcase %>  <span class="home-line-users-count"><%= get_models_count %></span></h2>
                </div>
                <div class="col-md-4">
                    <h2><%= t('views.static_pages.home.photographers_text').upcase %>  <span class="home-line-users-count"><%= get_photographers_count %></span></h2>
                </div>
                <div class="col-md-4">
                    <h2><%= t('views.static_pages.home.places_text').upcase %>  <span class="home-line-users-count">125</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="models-container" class="notify relative-position">
          <%= image_tag "home_page_section_models_bkg_1.jpg", alt: "Photo", class: "img-responsive" %>
          <div id="models-footer" class="text-center">
            <%= link_to "SEE MORE...", profile_models_path, class: "btn btn-primary btn-lg", data:{ animation: "animated fadeInUpBig", delay: "0.5s" } %>
          </div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="photographers-container" class="notify relative-position">
          <div id="photographers-footer" class="text-center">
            <%= link_to "SEE MORE...", profile_photographers_path, class: "btn-home" %>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="us-container" class="notify">
            US
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="partners-container" class="notify">
          Partners
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="articles-container" class="notify">
          Articles
        </div>
    </div>
</div>
      
    