<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="home-line-users-amounts-container-auth-<%= user_signed_in?.to_s %>">
            <div class="row text-center">
                <div class="col-md-4 col-xs-4">
                    <h2><%= t('views.static_pages.home.models_text').upcase %>  <span class="home-line-users-count"><%= get_models_count %></span></h2>
                </div>
                <div class="col-md-4 col-xs-4">
                    <h2><%= t('views.static_pages.home.photographers_text').upcase %>  <span class="home-line-users-count"><%= get_photographers_count %></span></h2>
                </div>
                <div class="col-md-4 col-xs-4">
                    <h2><%= t('views.static_pages.home.places_text').upcase %>  <span class="home-line-users-count">125</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<% if !user_signed_in? %>
    <div class="row row-no-space">
        <div class="col-md-12 col-xs-12 cell-no-space">
            <div id="subscribe-container" class="relative-position">
              <%= image_tag "cubamodela_home_subscribe_cuba_models_en.jpg", alt: "CubaModela Cuba Models Fashion Photography", class: "img-responsive img-full" %>
              <div id="home-subscribe-form-container">
                <%= render "home_sign_up" %>
              </div>
            </div>
        </div>
    </div>
<% end %>

<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="models-container" class="relative-position">
          <div id="models-header">
              <p class="text-center">DISCOVER THE BEST MODELS</p>
          </div>
          <div class="relative-position">
              <%= image_tag "cubamodela_home_section_models_cuba_models_up.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
              <div id="models-btn-new-face" class="text-center">
                <%= link_to "NEW FACE", index_new_faces_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "2.0s" } %>
              </div>
              <div id="models-btn-professional" class="text-center">
                <%= link_to "PROFESSIONAL", index_professional_models_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "2.5s" } %>
              </div>
              <div id="models-btn-premium" class="text-center">
                <%= link_to "PREMIUM", index_premium_models_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "3.0s" } %>
              </div>
              <div id="models-btn-see-all" class="text-center">
                <%= link_to "VIEW ALL", profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "3.5s" } %>
              </div>
              <div class="notify"></div>
          </div>
          <div class="relative-position">
              <%= image_tag "cubamodela_home_section_models_cuba_models_down.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
              <div id="models-btn-search" class="text-center">
                <%= link_to "SEARCH", search_profile_models_path, class: "btn-home", data: { animation: "animated pulse", delay: "3.0s" } %>
              </div>
              <div class="notify"></div>
          </div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="learn-profile-container" class="relative-position">
          <%= image_tag "cubamodela_home_section_lern_profile_cuba_models_en.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
          <div id="learn-profile-btn-learn" class="text-center">
            <%= link_to "LEARN", static_pages_profile_example_path, class: "btn-home", data: { animation: "animated pulse", delay: "2.0s" } %>
          </div>
          <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="photographers-container" class="relative-position">
            <%= image_tag "cubamodela_home_section_photographers_cuba_models_en.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
            <div id="photographers-footer" class="text-center">
                <%= link_to "COMING SOON", "#", class: "btn-home", data: { animation: "animated pulse", delay: "2.0s" } %>
            </div>
            <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="follow-container" class="relative-position">
          <div id="follow-header">
              <p class="text-center">FOLLOW US</p>
          </div>
          <div id="section-social-icons-container" class="text-center center-block">
            <ul class="list-inline">
              <li>
                <div class="section-social-icon">          
                  <%= link_to("#", class: "link-image") do %>
                      <%= image_tag "cubamodela_icon_facebook_cuba_models.png", alt: "CubaModela Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "1.0s" } %> 
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to("#", class: "link-image") do %>
                      <%= image_tag "cubamodela_icon_instagram_cuba_models.png", alt: "CubaModela Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "1.5s" } %>  
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to("#", class: "link-image") do %>
                      <%= image_tag "cubamodela_icon_pinterest_cuba_models.png", alt: "CubaModela Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "2.0s" } %>  
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to("#", class: "link-image") do %>
                      <%= image_tag "cubamodela_icon_googleplus_cuba_models.png", alt: "CubaModela Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "2.5s" } %> 
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to("#", class: "link-image") do %>
                      <%= image_tag "cubamodela_icon_twitter_cuba_models.png", alt: "CubaModela Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "3.0s" } %>  
                  <% end %>
                </div>
              </li>
              <li>
                <div class="section-social-icon">          
                  <%= link_to("#", class: "link-image") do %>
                      <%= image_tag "cubamodela_icon_youtube_cuba_models.png", alt: "CubaModela Facebook Icon", class: "img-responsive", data: { animation: "animated pulse", delay: "3.5s" } %>  
                  <% end %>
                </div>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="us-container" class="relative-position">
            <%= image_tag "cubamodela_home_section_us_cuba_models.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
            <div id="us-body" class="text-left">
                <h1>ABOUT US</h1>
                <h4>CubaModela is the Online Network of Professionals of the fashion and photography industry in Cuba. Our mission is to connect models and photographers from Cuba with national and international clients. We provide a space for personalized advertising through the profiles that will constitute the fundamental criterion of selection to find jobs.</h4>
                <h4>In addition, CubaModela provides specialized services in support of photographic, audiovisual and event productions on the Island. We also accompany the stay of foreign professionals offering unique experiences that will help them to understand the Cuban reality.</h4>
            </div>
            <div id="us-footer" class="text-center">
                <%= link_to "CONTACT US", static_pages_contact_path, class: "btn-article", data: { animation: "animated pulse", delay: "2.0s" } %>
            </div>
            <div class="notify"></div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 col-xs-12 cell-no-space">
        <div id="partners-container" class="notify relative-position">
          <div id="partners-header">
              <p class="text-center">OUR PARTNERS</p>
          </div>
          <div class="row partner-row">
              <div class="col-md-4 col-xs-4 partner-cell">
                    <div class="well partner-container">
                        <div class="partner-logo">
                            <%= image_tag "cubamodela_home_section_partners_cuba_models_designer.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography Partner", class: "img-circle img-responsive img-full" %>
                        </div>
                        <p class="text-center partner-ocupation">Designer</p>
                        <p class="text-center partner-name">Patricio Herrera Vega</p>
                        <div class="text-center partner-link">
                            <%= link_to t('forms.buttons.read_more'), static_pages_patricio_path, class: "btn btn-primary" %>
                        </div>
                    </div>
              </div>
              <div class="col-md-4 col-xs-4 partner-cell">
                    <div class="well partner-container">
                        <div class="partner-logo">
                            <%= image_tag "cubamodela_home_section_partners_cuba_models_photographer.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography Partner", class: "img-circle img-responsive img-full" %>
                        </div>
                        <p class="text-center partner-ocupation">Photographer</p>
                        <p class="text-center partner-name">Camila Serrano Perez</p>
                        <div class="text-center partner-link">
                            <%= link_to t('forms.buttons.read_more'), static_pages_camila_path, class: "btn btn-primary" %>
                        </div>
                    </div>
              </div>
              <div class="col-md-4 col-xs-4 partner-cell">
                    <div class="well partner-container">
                        <div class="partner-logo">
                            <%= image_tag "cubamodela_home_section_partners_cuba_models_photographer.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography Partner", class: "img-circle img-responsive img-full" %>
                        </div>
                        <p class="text-center partner-ocupation">Photographer</p>
                        <p class="text-center partner-name">Xuan Linh Hoang Rey</p>
                        <div class="text-center partner-link">
                            <%= link_to t('forms.buttons.read_more'), static_pages_xuan_path, class: "btn btn-primary" %>
                        </div>
                    </div>
              </div>
          </div>
        </div>
    </div>
</div>

<div class="row row-no-space">
    <div class="col-md-12 cell-no-space">
        <div id="gallery-home-container" class="relative-position">
            <%= image_tag "cubamodela_home_section_gallery_cuba_models.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-responsive img-full" %>
            <div id="gallery-home-footer" class="text-center">
                <%= link_to "VISIT OUR GALLERY", static_pages_gallery_path, class: "btn-gallery", data: { animation: "animated pulse", delay: "2.0s" } %>
            </div>
            <div class="notify"></div>
        </div>
    </div>
</div>