<div id="profile-example-container" class="container-center-horizontal-large-small-top">
	<h1 class="text-center">Profile example</h1>
	<br/>
	<p>It is important to read every tip carefully, a great profile can guarante you more job calls.</p>
	<br/>
	<h3>Importancia de los campos basicos</h3>
	<div class="row">
		<div class="col-md-6">
			<blockquote>
			  <p>Sexo</p>
			  <footer>
			  	Util para las busquedas y requerimientos de algunos contratistas
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Nombre y apellidos</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Fecha de nacimiento</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Telefonos (fijo, mobile)</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Direccion</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>
		</div>
		<div class="col-md-6">
			<blockquote>
			  <p>Provincia actual y nacionalidad</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Grupo ethnico</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Especificaciones fisicas (color de ojos, cintura, etc)</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>

			<blockquote>
			  <p>Aptitudes (lenguages, habilidades, etc)</p>
			  <footer>
			  	Explicacion Explicacion Explicacion Explicacion Explicacion
			  </footer>
			</blockquote>
		</div>
	</div>

	<br/>
	<h3>Album "Professional Book"</h3>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_professional_book_cuba_models_photo_1.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_professional_book_cuba_models_photo_2.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_professional_book_cuba_models_photo_3.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>

	<br/>
	<h3>Album "Polaroid"</h3>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_polaroid_book_cuba_models_photo_1.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_polaroid_book_cuba_models_photo_2.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_polaroid_book_cuba_models_photo_3.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_polaroid_book_cuba_models_photo_4.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_polaroid_book_cuba_models_photo_5.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>
	<blockquote>
	  <div class="profile-example-album-photo-container">
	  	<%= image_tag "cubamodela_example_profile_polaroid_book_cuba_models_photo_6.jpg", alt: "Photo", class: "img-responsive" %>
	  </div>
	  <footer>
	  	En esta foto se ve como bla bla Explicacion Explicacion Explicacion Explicacion
	  </footer>
	</blockquote>

	<br/>
	<h3>Cursos y estudios</h3>
	<p>Son importantes porque bla bla Explicacion Explicacion Explicacion Explicacion</p>

	<br/>
	<h3>Subcategorias de modelo</h3>
	<p>Son importantes porque bla bla New face o Professional model Explicacion Explicacion Explicacion Explicacion</p>

	<br/>
	<h3>Plan</h3>
	<p>El plan Premium es bla bla Explicacion Explicacion Explicacion Explicacion</p>
</div>