<div class="row bg-primary message-section">
	<div class="col-md-11">
		<div class="text-center">
			<h2><%= t('views.messages.index.templates.coupon_sent.header_text') %></h2>
			<h3><%= @message.asociateable.formated_code %></h3>
		</div>
	</div>
	<div class="col-md-1">
		<div class="text-center">
			<%= button_to(message_path(@message), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-danger pull-right") do %>
			  <span><%= t('forms.buttons.delete') %></span>
			<% end %>
		</div>
	</div>
</div>

<div class="row message-section">
	<div class="col-md-12">
		<div class="text-justify">
			<p><%= t('views.messages.index.templates.coupon_sent.argument_text') %></p>
		</div>
	</div>
</div>