<div id="profile-model-fields-container">
  <%= form_for(@profile, remote: true) do |f| %>
	<div class="row">
		<div class="col-md-12">
			<%= f.submit t('forms.buttons.save_resource', resource: "Profile"), class: "btn btn-primary btn-block btn-ms" %><br />
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= t('views.profile_models.edit.form_sections.name') %></h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-md-4 text-center">
				<%= f.label :gender %>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
					    	<%= f.radio_button :gender, "Female" %>
							<%= f.label :gender, t('activerecord.attributes.profile_model.gender_female'), class: "form-option" %>
						</div>
						<div class="col-md-6">
					    	<%= f.radio_button :gender, "Male" %>
							<%= f.label :gender, t('activerecord.attributes.profile_model.gender_male'), class: "form-option" %>
						</div>
					</div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="form-group text-center">
			      <%= f.label :first_name %><br />
			      <%= f.text_field :first_name, placeholder: "First name", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="form-group text-center">
			      <%= f.label :last_name %><br />
			      <%= f.text_field :last_name, placeholder: "Last name", class: "form-control text-center" %>
			    </div>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= t('views.profile_models.edit.form_sections.contact') %></h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
			<div class="col-md-4">
			    <div class="form-group text-center">
			      <%= f.label :mobile_phone %><br />
			      <%= f.text_field :mobile_phone, placeholder: "Mobile", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="form-group text-center">
			      <%= f.label :land_phone %><br />
			      <%= f.text_field :land_phone, placeholder: "Land Phone", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="form-group text-center">
			      <%= f.label :address %><br />
			      <%= f.text_area :address, size: "60x3", placeholder: "Address", class: "form-control text-center" %>
			    </div>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title"><%= t('views.profile_models.edit.form_sections.procedence') %></h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
			<div class="col-md-4">
				<div class="form-group text-center">
			      <%= f.label :current_province_id %><br />
			      <% if I18n.locale == "en".to_sym %>
			      	<%= f.select :current_province_id, Province.all.order("name_en ASC").collect {|p| [ p.name_en, p.id ] }, { include_blank: t('activerecord.attributes.profile_model.current_province_id_select_text') }, class: "form-control" %>
			      <% else %>
			      	<%= f.select :current_province_id, Province.all.order("name_en ASC").collect {|p| [ p.name_es, p.id ] }, { include_blank: t('activerecord.attributes.profile_model.current_province_id_select_text') }, class: "form-control" %>
			      <% end %>
			    </div>
			</div>
			<div class="col-md-4">
				<div class="form-group text-center">
			      <%= f.label :nationality_id %><br />
			      <% if I18n.locale == "en".to_sym %>
				  	<%= f.select :nationality_id, Nationality.all.order("name_en ASC").collect {|n| [ n.name_en, n.id ] }, { include_blank: t('activerecord.attributes.profile_model.nationality_id_select_text') }, class: "form-control" %>
				  <% else %>
				    <%= f.select :nationality_id, Nationality.all.order("name_en ASC").collect {|n| [ n.name_es, n.id ] }, { include_blank: t('activerecord.attributes.profile_model.nationality_id_select_text') }, class: "form-control" %>
				  <% end %>
			    </div>
			</div>
		</div>
	  </div>
	</div>
  <% end %>
</div>