<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= t('views.profile_models.edit.form_sections.level') %></h3>
		  </div>
		  <div class="panel-body">
		  	<% if @profile.new_face? %>
			  	<h3><%= t('views.profile_models.edit.current_level_text') %></h3>
			  	<div id="request-container">
					<% if @profile.request_sent? %>
						<h4 class="text-before"><%= t('views.profile_models.edit.request_sent_text') %></h4>
					<% else %>
						<h4 class="text-before"><%= t('views.profile_models.edit.request_upgrade_level_text') %></h4>
						<%= link_to t('views.profile_models.edit.buttons.upgrade'), request_level_profile_model_path(@profile), remote: true, class: "btn btn-primary btn-lg", id: "btn-upgrade-level" %>
					<% end %>
				</div>
			<% else %>
				<h3><%= t('views.profile_models.edit.professional_level_text') %></h3>
			<% end %>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= t('views.profile_models.edit.form_sections.coupons') %></h3>
		  </div>
		  <div class="panel-body">
		  	<div class="row">
			  	<div class="col-md-8">
			  		<%= render 'coupons/form_coupon' %>
			  	</div>
			  	<div class="col-md-4">
			  		<h4 class="text-before"><%= t('views.profile_models.edit.wallet.before_text') %> <span id="wallet-amount"><%= @profile.wallet.amount %></span> coins</h4>
			  	</div>
			</div>
		  </div>
		</div>
	</div>
</div>