<div class="row">
	<div class="col-md-12">
	    <% if @profile.profile_complete? %>
			<div class="row" style="padding-top:10px;">
				<div class="col-md-offset-1 col-md-2">
					<p class="text-right text-success">Profile completed [%]</p>
				</div>
				<div id="profile-completed-progress-container" class="col-md-8">
					<div class="progress">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @profile.profile_complete_progress_percentage %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= @profile.profile_complete_progress_percentage %>%;">
					    <%= @profile.profile_complete_progress_percentage %>%
					  </div>
					</div>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-md-12">
				<div id="profile-picture-container" class="text-center">
					<div id="profile-picture", style="margin-bottom: 5px;">
						<%= image_tag @profile.get_profile_picture_url(:profile), alt: "Model Photo", class: "img-rounded" %>
					</div>
					<%= link_to 'Change', new_album_photo_path(@album_profile_picture, type: "profile"), remote: true, class: "btn btn-success btn-xs" %>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="profile-main-menu-container" class="col-md-offset-3 col-md-6">
				<ul class="nav nav-pills nav-justified">
				  <li role="presentation" id="profile_menu_info" class="profile_menu active">
				  	<%= link_to 'Profile', edit_profile_photographer_path(current_user.profileable), remote: true %>
				  </li>
				  <li role="presentation" id="profile_menu_albums" class="profile_menu">
				  	<%= link_to 'Albums', albums_path, remote: true %>
				  </li>
				  <li role="presentation" id="profile_menu_cv" class="profile_menu">
				  	<%= link_to 'Curriculum', studies_path, remote: true %>
				  </li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<div id="model-info-container">
				</div>
				<div id="profile-container">
					<%= render 'form' %> 
				</div>
				<div id="profile-modal" class="modal fade"></div>
			</div>
		</div>
	</div>
</div>
