<div class="row row-profile-container">
	<div class="col-md-12">
	    <% if !@profile.profile_complete? %>
			<div class="row" style="padding-top:10px;">
				<div class="col-md-offset-1 col-md-2">
					<p class="text-right text-primary"><%= t('views.profile_models.edit.progress_bar_left_text') %></p>
				</div>
				<div id="profile-completed-progress-container" class="col-md-8">
					<div class="progress">
					  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="<%= @profile.profile_complete_progress_percentage %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= @profile.profile_complete_progress_percentage %>%;">
					    <%= @profile.profile_complete_progress_percentage %>%
					  </div>
					</div>
				</div>
			</div>
		<% end %>
		<div class="row">
			<div class="col-md-12">
				<div id="profile-picture-container" class="text-center">
					<div id="profile-picture" style="margin-bottom: 5px;">
						<div class="img-thumbnail">
							<div id="profile-picture-wrapper">
								<%= image_tag @profile.get_profile_picture_url(:medium), alt: "photographer Photo", class: "img-responsive" %>
							</div>
							<div class="text-center" style="margin-top: 5px;">
								<%= link_to 'Change', new_album_photo_path(@album_profile_picture, type: "profile"), remote: true, class: "btn btn-primary btn-xs btn-block" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="profile-main-menu-container" class="col-md-12">
				<ul class="nav nav-pills nav-justified nav-profile">
				  <li role="presentation" id="profile_menu_info" class="profile_menu active">
				  	<%= link_to t('views.profile_photographers.edit.menu_options.profile'), edit_profile_photographer_path(@profile) %>
				  </li>
				  <li role="presentation" id="profile_menu_albums" class="profile_menu">
				  	<%= link_to t('views.profile_photographers.edit.menu_options.albums'), albums_profile_photographer_path(@profile), remote: true %>
				  </li>
				  <li role="presentation" id="profile_menu_cv" class="profile_menu">
				  	<%= link_to t('views.profile_photographers.edit.menu_options.curriculum'), studies_profile_photographer_path(@profile), remote: true %>
				  </li>
				  <li role="presentation" id="profile_menu_plan" class="profile_menu">
				  	<%= link_to t('views.profile_photographers.edit.menu_options.plans'), plans_profile_photographer_path(@profile), remote: true %>
				  </li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="profile-container">
					<%= render 'form' %> 
				</div>
				<div id="modal-container" class="modal fade"></div>
			</div>
		</div>
	</div>
</div>