<div class="row admin-margin-medium">
	<div class="col-md-2">
		<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h1 class="panel-title text-center"><%= t('views.admin.control_panel.sections.users.header_text') %></h1>
	      </div>
	      <div class="panel-body">
	        <%= link_to t('views.admin.control_panel.sections.users.users'), users_path, class: "btn btn-link" %><br/>
	        <%= link_to t('views.admin.control_panel.sections.users.pending_review'), model_pending_review_path, class: "btn btn-link" %>
	        <%= link_to t('views.admin.control_panel.sections.users.pending_translations'), pending_translations_path, class: "btn btn-link" %>
	        <%= link_to t('views.admin.control_panel.sections.users.model_pending_upgrade_level_review'), model_pending_upgrade_level_review_path, class: "btn btn-link" %>
	        <%= link_to t('views.admin.control_panel.sections.users.coupons'), coupons_path, class: "btn btn-link" %>
	      </div>
	    </div>
	</div>
	<div class="col-md-2">
		<div class="panel panel-primary">
	      <div class="panel-heading">
	        <h1 class="panel-title text-center"><%= t('views.admin.control_panel.sections.nomenclators.header_text') %></h1>
	      </div>
	      <div class="panel-body">
	        <%= link_to t('views.admin.control_panel.sections.nomenclators.colors'), colors_path, class: "btn btn-link" %><br/>
	        <%= link_to t('views.admin.control_panel.sections.nomenclators.expertises'), expertises_path, class: "btn btn-link" %><br/>
	        <%= link_to t('views.admin.control_panel.sections.nomenclators.languages'), languages_path, class: "btn btn-link" %><br/>
	        <%= link_to t('views.admin.control_panel.sections.nomenclators.modalities'), modalities_path, class: "btn btn-link" %><br/>
	        <%= link_to t('views.admin.control_panel.sections.nomenclators.nationalities'), nationalities_path, class: "btn btn-link" %><br/>
	        <%= link_to t('views.admin.control_panel.sections.nomenclators.provinces'), provinces_path, class: "btn btn-link" %><br/>
	      </div>
	    </div>
	</div>
	<div class="col-md-2">
		
	</div>
	<div class="col-md-2">
		
	</div>
	<div class="col-md-2">
		
	</div>
	<div class="col-md-2">
		
	</div>
</div>