<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-nomenclator">
	      <div class="panel-heading">
	        <h1 class="panel-title text-center"><%= t('views.admin.coupons.form_text') %></h1>
	      </div>
	      <div class="panel-body panel-body-nomenclator">
	      	<div>
	      		<%= render 'form_coupons' %>
	      	</div>
	      </div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-nomenclator">
	      <div class="panel-heading">
	        <h1 class="panel-title text-center"><%= t('views.admin.coupons.list_text') %></h1>
	      </div>
	      <div class="panel-body panel-body-nomenclator">
	      	<div id="coupons-list-container">
		        <%= render 'coupons' %>
	        </div>

	        <br>
	        <%= link_to t('form.buttons.control_panel'), control_panel_path, class: "btn btn-primary" %>
	      </div>
	    </div>
	</div>
</div>