<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary panel-nomenclator">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('views.admin.pending_review.header') %></h1>
      </div>
      <div class="panel-body panel-body-nomenclator">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.model') %></th>
              <th class="text-center"><%= t('activerecord.attributes.user.email') %></th>
              <th class="text-center"><%= t('activerecord.attributes.user.created_at') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @models.each do |model| %>
              <tr>
                <td>
                  <%= image_tag model.nil? ? "missing_profile_picture.jpg" : model.get_profile_picture_url(:user), alt: "Model Photo", class: "img-rounded pull-left" %>
                  <h4 class="pull-left" style="margin-left:10px;"><%= model.full_name  %></h4>
                </td>
                <td class="text-center"><h4><%= model.user.email %></h4></td>
                <td class="text-center"><h4><%= l(model.user.created_at, format: :custom) << " [ " << distance_of_time_in_words(model.user.created_at, Date.today) << t('datetime.distance_in_words.after_text_past') << " ] " %></h4></td>
                <td>
                  <%= link_to t('form.buttons.edit'), show_for_review_profile_model_path(model), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <%= link_to t('form.buttons.control_panel'), control_panel_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>