<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-nomenclator">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('views.admin.model_pending_upgrade_level_review.header_text') %></h1>
      </div>
      <div class="panel-body panel-body-nomenclator">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.model') %></th>
              <th class="text-center"><%= t('activerecord.attributes.user.email') %></th>
              <th class="text-center"><%= t('activerecord.attributes.user.created_at') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @requests.each do |request| %>
              <tr id="request-<%= request.id %>">
                <td>
                  <%= image_tag request.requester.nil? ? "missing_profile_picture.jpg" : request.requester.get_profile_picture_url(:user), alt: "Model Photo", class: "img-rounded pull-left" %>
                  <h4 class="pull-left" style="margin-left:10px;"><%= request.requester.full_name  %></h4>
                </td>
                <td class="text-center"><h4><%= request.requester.user.email %></h4></td>
                <td class="text-center"><h4><%= l(request.created_at, format: :custom) << " [ " << distance_of_time_in_words(request.created_at, Date.today) << t('datetime.distance_in_words.after_text_past') << " ] " %></h4></td>
                <td>
                  <%= link_to t('form.buttons.show'), profile_model_path(request.requester), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                  <%= link_to t('form.buttons.reject'), reject_model_request_to_upgrade_path(request), remote: true, class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                  <%= link_to t('form.buttons.accept'), accept_model_request_to_upgrade_path(request), remote: true, class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <%= link_to t('form.buttons.control_panel'), control_panel_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>