<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-nomenclator">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('views.admin.pending_translations.headers.needs_translation') %></h1>
      </div>
      <div class="panel-body panel-body-nomenclator">

        <h4><%= t('table.total') %>: <%= @castings.count %></h4>
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.castings') %></th>
              <th class="text-center"><%= t('activerecord.attributes.casting.created_at') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @castings.each do |casting| %>
              <tr>
                <td>
                  <h4><%= casting.title_present  %></h4>
                </td>
                <td class="text-center"><h4><%= l(casting.created_at, format: :custom) << " [ " << distance_of_time_in_words(casting.created_at, Date.today) << t('datetime.distance_in_words.after_text_past') << " ] " %></h4></td>
                <td>
                  <%= link_to t('forms.buttons.translate'), translate_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br/>

        <h4><%= t('table.total') %>: <%= @bookings.count %></h4>
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.bookings') %></th>
              <th class="text-center"><%= t('activerecord.attributes.booking.created_at') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td>
                  <h4><%= booking.description_present  %></h4>
                </td>
                <td class="text-center"><h4><%= l(booking.created_at, format: :custom) << " [ " << distance_of_time_in_words(booking.created_at, Date.today) << t('datetime.distance_in_words.after_text_past') << " ] " %></h4></td>
                <td>
                  <%= link_to t('forms.buttons.translate'), translate_booking_path(booking), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br/>

        <h4><%= t('table.total') %>: <%= @reviews.count %></h4>
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.reviews') %></th>
              <th class="text-center"><%= t('activerecord.attributes.review.created_at') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <h4><%= review.review_present  %></h4>
                </td>
                <td class="text-center"><h4><%= l(review.created_at, format: :custom) << " [ " << distance_of_time_in_words(review.created_at, Date.today) << t('datetime.distance_in_words.after_text_past') << " ] " %></h4></td>
                <td>
                  <%= link_to t('forms.buttons.translate'), translate_review_path(review), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br/>
        <%= link_to t('form.buttons.control_panel'), control_panel_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>