<div id="casting-reviews-container">
	<% casting_reviews.each do |casting_review| %>

		<% if casting_review.is_valid? %>
			<dl id="casting-review-<%= casting_review.id %>">
			  <dt><%= casting_review.casting.title %></dt>
			  <dd><%= t('views.castings.casting_reviews.description_text') %><%= link_to t('views.castings.casting_reviews.here_text'), index_left_reviews_castings_path(casting_review), class: "btn btn-link" %> <%= link_to t('forms.buttons.dont_show_again'), dont_show_again_casting_reviews_castings_path(casting_review), remote: true, class: "btn btn-primary btn-xs" %></dd>
			</dl>
		<% end %>
		
	<% end %>
</div>