<% @models.each do |model| %>
	<div id="model-<%= @casting.id %>-<%= model.id %>" class="img-thumbnail list-photo-item">
		<div>
			<%= link_to(show_resume_profile_model_path(model), remote: true, class: "link-image") do %>
				<%= image_tag model.get_profile_picture_url(:profile), alt: "Model Photo", class: "img-responsive" %>
			<% end %>
		</div>
		<div class="text-center" style="margin-top: 5px;">
			<%= link_to t('views.castings.buttons.invite'), invite_casting_path(@casting, model, list_item: "invite"), remote: true, class: "btn btn-primary btn-xs btn-block" %>
		</div>
	</div>
<% end %>