<% if @intents.any? %>
	<div class="row">
		<div class="col-md-12">
			<div id="selected-list-item-container">
				<% @intents.each do |intent| %>
					<div id="model-<%= @casting.id %>-<%= intent.profile_model.id %>" class="img-thumbnail list-photo-item img-wrapper">
						<div class="<%= get_premium_border(intent.profile_model) %>">
							<%= link_to(show_resume_profile_model_path(intent.profile_model), remote: true, class: "link-image") do %>
									<%= image_tag intent.profile_model.get_profile_picture_url(:profile), alt: "Model Photo", class: "img-responsive" %>	
							<% end %>
						</div>
						<div class="text-center"><h6><%= intent.profile_model.get_first_name %></h6></div>
						<div class="profile-status">
							<% if intent.profile_model.new_face? %>
								<%= image_tag "new_face.png", height: 25, width: 25, class: "img-inline", alt: "New face", title: t('views.profile_models.index.tooltips.new_face'), data:{ toggle: "tooltip", placement: "bottom" } %>
							<% else %>
								<%= image_tag "professional_model.png", height: 25, width: 25, class: "img-inline", alt: "Professional model", title: t('views.profile_models.index.tooltips.professional_model'), data:{ toggle: "tooltip", placement: "bottom" } %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div id="selected-list-item-container-bottom"></div>
		</div>
	</div>
<% else %>
	<div id="empty-list-text-container">
		<h4 class="text-center"><%= t('views.castings.index_confirmed.empty_text') %></h4>
	</div>
<% end %>