<div class="row">
	<div class="col-md-12">
		<div id="selected-list-item-container">
			<% @models.each do |model| %>
				<div id="model-<%= @casting.id %>-<%= model.id %>" class="img-thumbnail list-photo-item">
					<%= link_to(show_resume_profile_model_path(model), remote: true, class: "link-image") do %>
							<%= image_tag model.get_profile_picture_url(:profile), alt: "Model Photo", class: "img-circle" %>	
					<% end %>
					<br/>
					<%= link_to "invite", invite_casting_path(@casting, model, list_item: "invite"), remote: true, class: "btn btn-success btn-xs pull-right" %>
				</div>
			<% end %>
		</div>
		<div id="selected-list-item-container-bottom"></div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 text-center">
		<div id="models-invite-load-more">
			<% if @next_page != 0 %>
				<%= link_to "Load more...", invite_index_casting_path(@casting, next_page: @next_page), remote: true, class: "btn btn-success", id: "btn-castings-load-more" %>
			<% end %>
		</div>
	</div>
</div>