<% if @intents.any? %>
	<div class="row">
		<div class="col-md-12">
			<div id="selected-list-item-container">
				<% @intents.each do |intent| %>
					<div id="model-<%= @casting.id %>-<%= intent.profile_model.id %>" class="img-thumbnail list-photo-item img-wrapper">
						<div>
							<%= link_to(show_resume_profile_model_path(intent.profile_model, from: "manage-casting"), remote: true, class: "link-image") do %>
									<%= image_tag intent.profile_model.get_profile_picture_url(:medium), alt: "Model Photo", class: "img-responsive" %>	
							<% end %>
						</div>
						<div class="text-center" style="margin-top: 5px;">
							<%= link_to t('views.castings.buttons.confirm'), invite_casting_path(@casting, intent.profile_model, list_item: "applied"), remote: true, class: "btn btn-primary btn-xs btn-block show-spinner" %>
						</div>
						<div class="profile-status">
							<% if intent.profile_model.new_face? %>
								<% if intent.profile_model.premium? %>
									<%= image_tag "cubamodela_label_new_face_premium_cuba_models.png", height: 40, width: 40, class: "img-inline", alt: "New face", title: t('views.profile_models.index.tooltips.new_face'), data:{ toggle: "tooltip", placement: "bottom" } %>
								<% else %>
									<%= image_tag "cubamodela_label_new_face_cuba_models.png", height: 40, width: 40, class: "img-inline", alt: "New face", title: t('views.profile_models.index.tooltips.new_face'), data:{ toggle: "tooltip", placement: "bottom" } %>
								<% end %>
							<% else %>
								<% if intent.profile_model.premium? %>
									<%= image_tag "cubamodela_label_professional_model_premium_cuba_models.png", height: 40, width: 40, class: "img-inline", alt: "Professional model", title: t('views.profile_models.index.tooltips.professional_model'), data:{ toggle: "tooltip", placement: "bottom" } %>
								<% else %>
									<%= image_tag "cubamodela_label_professional_model_cuba_models.png", height: 40, width: 40, class: "img-inline", alt: "Professional model", title: t('views.profile_models.index.tooltips.professional_model'), data:{ toggle: "tooltip", placement: "bottom" } %>
								<% end %>
							<% end %>
						</div>
					</div>
				<% end %>
			</div>
			<div id="selected-list-item-container-bottom"></div>
		</div>
	</div>
<% else %>
	<div id="empty-list-text-container">
		<h4 class="text-center"><%= t('views.castings.index_applied.empty_text') %></h4>
	</div>
<% end %>