<div class="row casting-title">
	<div class="col-md-7">
		<div class="translated-text">
			<% if casting.title_en.present? %>
				<p class="title"><%= casting.title_en.upcase %></p>
				<footer>
					<%= casting.title_es %>
				</footer>
			<% else %>
				<p class="title"><%= casting.title_es.upcase %></p>
				<footer>
					<%= casting.title_en %>
				</footer>
			<% end %>
		</div>
	</div>
	<div class="col-md-5">
		<div class="content-center-horizontal">
			<% if casting.is_direct %>
				<div class="div-inline pull-right">
					<%= image_tag "cubamodela_label_casting_direct_cuba_models_flag.png", width: 50, class: "img-inline", alt: "Direct", title: t('views.castings.index.tooltips.direct_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
				</div>
			<% end %>
			<% if casting.free? %>
				<div class="div-inline pull-right">
					<%= image_tag "cubamodela_label_casting_free_cuba_models_flag.png", width: 50, class: "img-inline", alt: "Free", title: t('views.castings.index.tooltips.free_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
				</div>
			<% else %>
				<div class="div-inline pull-right">
					<%= image_tag "cubamodela_label_casting_private_cuba_models_flag.png", width: 50, class: "img-inline", alt: "Private", title: t('views.castings.index.tooltips.private_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
				</div>
			<% end %>
			<% if casting.active? %>
				<div>
					<p class="small-gray-text"><u><%= t('views.castings.index.expires_in_text', value: distance_of_time_in_words(Time.current, casting.expiration_date) << t('datetime.distance_in_words.after_text')) %></u></p>
				</div>
			<% else %>
				<div class="div-inline pull-right">
					<%= image_tag "cubamodela_label_casting_expired_cuba_models_flag.png", width: 50, class: "img-inline", alt: "Expired", title: t('views.castings.index.tooltips.expired_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
				</div>
			<% end %>
			<span class="clearfix"></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-9" style="padding-top: 3%;">
		<div class="row">
			<div class="col-md-2">
				<%= image_tag casting.ownerable.get_profile_picture_url(:small), alt: "Model Photo", class: "img-center-horizontal" %>
			</div>
			<div class="col-md-10 text-left">
				<div class="translated-text">
					<% if casting.location_en.present? %>
						<p><%= casting.location_en_slice  %></p>
						<footer>
							<%= casting.location_es_slice  %>
						</footer>
					<% else %>
						<p class="title"><%= casting.location_es_slice  %></p>
						<footer>
							<%= casting.location_en_slice  %>
						</footer>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12">
				<% if casting.photos.any? %>
					<%= image_tag casting.get_first_references_photo.image.url(:medium), alt: "Model Photo", class: "img-responsive" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row row-medium-padding-vertical">
	<div class="col-md-8">
		<div class="div-inline">
			<p class="small-gray-text"><%= t('views.castings.index.publiched_at_text', value: l(casting.created_at, format: :custom)) %></p>
		</div>
		<% if casting.closed? %>
			<div class="div-inline">
				<%= image_tag "cubamodela_label_casting_expired_cuba_models_circle.png", height: 32, width: 32, class: "img-inline", alt: "Expired", title: t('views.castings.index.tooltips.expired_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
			</div>
		<% end %>
		<% if casting.free? %>
			<div class="div-inline">
				<%= image_tag "cubamodela_label_casting_free_cuba_models_circle.png", height: 32, width: 32, class: "img-inline", alt: "Free", title: t('views.castings.index.tooltips.free_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
			</div>
		<% else %>
			<div class="div-inline">
				<%= image_tag "cubamodela_label_casting_private_cuba_models_circle.png", height: 32, width: 32, class: "img-inline", alt: "Private", title: t('views.castings.index.tooltips.private_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
			</div>
		<% end %>
		<% if casting.is_direct %>
			<div class="div-inline">
				<%= image_tag "cubamodela_label_casting_direct_cuba_models_circle.png", height: 32, width: 32, class: "img-inline", alt: "Direct", title: t('views.castings.index.tooltips.direct_text'), data:{ toggle: "tooltip", placement: "bottom" } %>
			</div>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= link_to t('views.castings.buttons.details'), casting_path(casting), class: "btn btn-primary pull-right" %>
		<% if current_user.model? && casting.active? && casting.free? && current_user.profileable.can_apply?(casting) %>
			<%= link_to t('views.castings.buttons.apply'), apply_casting_path(casting, current_user.profileable), remote: true, class: "btn btn-primary pull-right", id: "btn-apply-" << casting.id.to_s << current_user.profileable.id.to_s %>
		<% end %>
	</div>
</div>