<div class="row casting-title">
	<div class="col-md-6">
		<h3><%= casting.title.upcase %></h3>
	</div>
	<div class="col-md-6">
		<% if casting.active? %>
			<h5 class="pull-right">
				Expiration date: <%= l(casting.expiration_date, format: :custom) %>
			</h5>
			<br />
			<h5 class="pull-right">
				[ <%= distance_of_time_in_words(Date.today, casting.expiration_date) << t('datetime.distance_in_words.after_text') %> ]
			</h5>
		<% else %>
			<h5 class="pull-right"><%= t('views.castings.index.expired_text') %></h5>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-9" style="padding-top: 3%;">
		<div class="row">
			<div class="col-md-2">
				<%= image_tag casting.ownerable.get_profile_picture_url(:list), alt: "Model Photo", class: "img-center-horizontal" %>
			</div>
			<div class="col-md-10 text-left">
				<p><%= casting.location[0..100] %></p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12">
				<% if casting.photos.any? %>
					<%= image_tag casting.get_first_references_photo.image.url(:profile), alt: "Model Photo", class: "img-responsive" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row row-medium-padding-vertical">
	<div class="col-md-8">
		<p style="display: inline;">Published at: <%= l(casting.created_at, format: :custom) %></p>
		<% if casting.personal? %>
			<span class="tag" data-toggle="tooltip" data-placement="bottom" title="<%= t('views.castings.index.private_text') %>">
				<%= t('views.castings.index.private') %>
			</span>
		<% end %>
		<% if casting.closed? %>
			<span class="tag">
				<%= t('views.castings.index.expired') %>
			</span>
		<% end %>
	</div>
	<div class="col-md-4">
		<%= link_to t('views.castings.buttons.see_full_casting'), casting_path(casting), class: "btn btn-primary pull-right" %>
		<% if current_user.model? && casting.active? && casting.free? && current_user.profileable.can_apply?(casting) %>
			<%= link_to t('views.castings.buttons.apply'), apply_casting_path(casting, current_user.profileable), remote: true, class: "btn btn-primary pull-right", id: "btn-apply-" << casting.id.to_s << current_user.profileable.id.to_s %>
		<% end %>
	</div>
</div>