<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary panel-nomenclator">
      <div class="panel-heading">
        <h1 class="panel-title text-center">Castings</h1>
      </div>
      <div class="panel-body panel-body-nomenclator">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.title') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @castings.each do |casting| %>
              <tr>
                <td><h4><%= casting.title %></h4></td>
                <td>
                  <%= link_to "Manage", manage_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                  <%= link_to 'References photos', edit_photos_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                  <%= link_to 'Edit', edit_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Casting', new_casting_path, class: "btn btn-primary" %>
        <%= link_to 'Back', profile_models_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>