<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default panel-nomenclator">
      <div class="panel-heading">
        <h1 class="panel-title text-center"><%= t('views.castings.index_custom.header_text') %></h1>
      </div>
      <div class="panel-body panel-body-nomenclator">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center"><%= t('table.title') %></th>
              <th class="text-center"><%= t('table.actions') %></th>
            </tr>
          </thead>

          <tbody>
            <% @castings.each do |casting| %>
              <tr>
                <td><h4><%= casting.title %></h4></td>
                <td>
                  <%= link_to t('forms.buttons.manage'), manage_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                  <%= link_to t('forms.buttons.edit_photos'), edit_photos_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                  <%= link_to t('forms.buttons.edit'), edit_casting_path(casting), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to t('menu.options.new_casting'), new_casting_path, class: "btn btn-primary" %>
        <%= link_to t('forms.buttons.back'), profile_models_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>