<div id="form-booking-container">
  <%= form_for(@booking) do |f| %>

    <% if @booking.errors.any? %>
      <div class="alert alert-danger text-center">
        <%= t('forms.errors.header_text') %> <%= pluralize(@booking.errors.count, "error") %>.
        <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('views.bookings.edit.form_sections.information') %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">

            <% if @booking.new_record? %>
              <div class="form-group" id="chbox-direct-container">
                <%= f.check_box :is_direct, id: "chbox-direct" %>
                <%= f.label :is_direct, t('activerecord.attributes.booking.is_direct'), class: "form-option" %>

                <div class="row">
                  <div class="col-md-12">
                    <div id="dates-warning-text" class="alert alert-danger" role="alert"><%= t('views.bookings.edit.warnings.change_direct') %>.</div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="form-group text-center">
              <% if I18n.locale == "en".to_sym %>
                <%= f.label :description_en %>
                <%= f.text_area :description_en, size: "60x5", placeholder: "Description", class: "form-control text-center" %>
              <% else %>
                <%= f.label :description_es %>
                <%= f.text_area :description_es, size: "60x5", placeholder: "Description", class: "form-control text-center" %>
              <% end %>
            </div>

            <div class="form-group text-center">
              <% if I18n.locale == "en".to_sym %>
                <%= f.label :location_en %>
                <%= f.text_area :location_en, size: "60x4", placeholder: "Location", class: "form-control text-center" %>
              <% else %>
                <%= f.label :location_es %>
                <%= f.text_area :location_es, size: "60x4", placeholder: "Location", class: "form-control text-center" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t('views.bookings.edit.form_sections.dates') %></h3>
      </div>
      <div class="panel-body">
        <% if (!@booking.new_record? && ((Date.today - @booking.created_at.to_date) * 24) > 24) %>
          <div class="row">
            <div class="col-md-12">
              <div id="dates-warning-text" class="alert alert-danger" role="alert"><%= t('views.castings.edit.warnings.change_dates') %>.</div>
            </div>
          </div>
        <% end %>
        <% if (!@booking.new_record? && ((Date.today - @booking.created_at.to_date) * 24) > 24) %>
          <div class="row">
            <div class="col-md-12">
              <div id="dates-warning-text" class="alert alert-danger" role="alert"><%= t('views.castings.edit.warnings.change_dates_expired') %>.</div>
            </div>
          </div>
        <% end %>
        <div class="row" id="casting-date-field" <%= get_show_hide_style(@booking.is_direct) %>>
          <div class="col-md-11 col-md-offset-1">
            <div class="form-group">
              <%= f.label :casting_date %>: 
              <%= datetime_select :booking, :casting_date, prompt: true, ampm: true, start_year: DateTime.now.year, end_year: DateTime.now.year + 2, date_separator: "/", time_separator: ":", order: [:day, :month, :year], class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <div class="form-group">
              <%= f.label :shooting_date %>: 
              <%= datetime_select :booking, :shooting_date, prompt: true, ampm: true, start_year: DateTime.now.year, end_year: DateTime.now.year + 2, date_separator: "/", time_separator: ":", order: [:day, :month, :year], class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= f.hidden_field :profile_model_id, value: @profile.id %>
    <%= f.submit t('forms.buttons.save'), class: "btn btn-primary btn-block" %>
  <% end %>
</div>