<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary panel-nomenclator">
      <div class="panel-heading">
        <h1 class="panel-title text-center">Bookings</h1>
      </div>
      <div class="panel-body panel-body-nomenclator">
        <table class="table">
          <thead class="bg-info">
            <tr>
              <th class="text-center">Model</th>
              <th class="text-center">Description</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each do |booking| %>
              <tr class="<%= get_confirmed_class(booking) %>">
                <td>
                  <%= image_tag booking.profile_model.nil? ? "missing_profile_picture.jpg" : booking.profile_model.get_profile_picture_url(:user), alt: "Model Photo", class: "img-rounded pull-left" %>
                  <h4 class="pull-left" style="margin-left:10px;"><%= booking.profile_model.full_name  %></h4>
                </td>
                <td><h4><%= booking.description[0..100] %></h4></td>
                <td>
                  <%= link_to 'Edit', edit_booking_path(booking, profile_id: booking.profile_model.id), class: "btn btn-primary btn-sm btn-small-right-margin pull-right" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <%= link_to 'Models', profile_models_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>