<div class="row row-profile-container">
	<div class="col-md-12">
		<div class="profile-section">
			<div class="text-center">
				<h1><%= t('views.bookings.show.headers.header_text') %></h1>
			</div>
		</div>
	</div>
</div>
<div class="row row-profile-container">
	<div class="col-md-12">
		<div class="profile-section">
			<h3><%= t('views.bookings.show.headers.description') %></h3>
			<div class="translated-text">
				<% if @booking.description_en.present? %>
					<p><%= @booking.description_en %></p>
					<footer>
						<%= @booking.description_es %>
					</footer>
				<% else %>
					<p class="title"><%= @booking.description_es %></p>
					<footer>
						<%= @booking.description_en %>
					</footer>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row row-profile-container">
	<div class="col-md-12">
		<div class="profile-section">
			<h3><%= t('views.bookings.show.headers.location') %></h3>
			<div class="translated-text">
				<% if @booking.location_en.present? %>
					<p><%= @booking.location_en %></p>
					<footer>
						<%= @booking.location_es %>
					</footer>
				<% else %>
					<p class="title"><%= @booking.location_es %></p>
					<footer>
						<%= @booking.location_en %>
					</footer>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row row-profile-container">
	<div class="col-md-8">
		<div class="profile-section">
			<h4><%= t('views.bookings.show.headers.dates') %></h4>
			<p class="profile-value">
            	<b>
            		<%= t('activerecord.attributes.booking.casting_date') %>:
            	</b> 
            	<%= l(@booking.casting_date, format: :custom) %> [ <%= distance_of_time_in_words(Date.today, @booking.casting_date.to_date) << t('datetime.distance_in_words.after_text') %> ]
            </p>
			<p class="profile-value">
            	<b>
            		<%= t('activerecord.attributes.booking.shooting_date') %>:
            	</b> 
            	<%= l(@booking.shooting_date, format: :custom) %> [ <%= distance_of_time_in_words(Date.today, @booking.shooting_date.to_date) << t('datetime.distance_in_words.after_text') %> ]
            </p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="profile-section">
			<h2 class="text-center"><%= t('views.bookings.show.status_text', value: @booking.status.humanize) %></h2>
		</div>
	</div>
</div>

<div id="modal-container" class="modal fade"></div>