<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <%= t('forms.buttons.actions') %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  	<% if user.profileable.is_partner %>
		<li>
			<%= link_to t('views.admin.users.buttons.unset_as_partner'), unset_as_partner_path(user_id: user.id), remote: true %>
		</li>
	<% else %>
		<li>
			<%= link_to t('views.admin.users.buttons.set_as_partner'), set_as_partner_path(user_id: user.id), remote: true %>
		</li>
	<% end %>
	<% if user.profileable.get_plan_type == Constant::PLAN_BASIC_TEXT %>
		<li>
			<%= link_to t('views.admin.users.buttons.set_premium_plan'), set_premium_plan_path(user_id: user.id), remote: true %>
		</li>
	<% else %>
		<li>
			<%= link_to t('views.admin.users.buttons.set_basic_plan'), set_basic_plan_path(user_id: user.id), remote: true %>
		</li>
	<% end %>
	<li>
		<%= link_to t('views.admin.users.buttons.send_message'), message_for_path(user_id: user.id) %>
	</li>
	<li>
		<%= link_to t('views.admin.users.buttons.edit_profile'), edit_profile_model_path(user.profileable) %>
	</li>
	<li>
		<%= link_to t('forms.buttons.show'), profile_model_path(user.profileable) %>
	</li>
  </ul>
</div>