<div class="row" style="padding-left: 20px;">
    <div class="col-md-12" style="padding:60px 10px;">
      <div id="recover-account-form-container" class="container-center-horizontal-medium-small-top">
        <h2 class="text-center"><%= t('views.devise.passwords.header_text') %></h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
		  <% if resource.errors.any? %>
            <div class="alert alert-danger text-center">
              The form contains <%= pluralize(resource.errors.count, "error") %>.
              <ul>
              <% resource.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

		  <div class="form-group">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, class: "form-control text-center" %>
		  </div>

		  <div class="actions">
		    <%= f.submit t('views.devise.passwords.buttons.send_inst'), class: "btn btn-primary btn-block" %>
		  </div>
		<% end %>
      </div>
    </div>
</div>
