<div class="row">
  <div class="col-md-12">
  	<div class="well well-form well-medium">
  		<h3 class="text-center"><%= t('views.expertises.show.header_text') %></h3>
  		<h3><%= t('activerecord.attributes.color.name_en') %>: <%= @expertise.name_en %></h3>
      <h3><%= t('activerecord.attributes.color.name_es') %>: <%= @expertise.name_es %></h3>
	  		
			<%= link_to t('forms.buttons.back'), expertises_path, class: "btn btn-primary pull-right btn-small-right-margin" %>
			<%= link_to t('forms.buttons.edit'), edit_expertise_path(@expertise), class: "btn btn-primary pull-right btn-small-right-margin" %>
			<div class="clearfix">...</div>
  	</div>
  </div>
</div>
