<%= form_for @study, remote: true do |f| %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: t('activerecord.attributes.study.title'), class: "form-control text-center" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :place %>
        <%= f.text_field :place, placeholder: t('activerecord.attributes.study.place'), class: "form-control text-center" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, size: "60x8", placeholder: t('activerecord.attributes.study.description'), class: "form-control text-center" %>
      </div>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary btn-xs" %>
<% end %>
