<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3><%= t('views.albums.delete.header_text') %></h3>
  </div>
  <div class="modal-body">
    <%= t('forms.warnings.delete') %> <b><%= @album.name %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to t('views.albums.delete.yes_text'), album_path(@album), method: :delete, remote: true, class: "btn btn-primary" %>
    <%= link_to t('views.albums.delete.no_text'), "#", class: "btn btn-primary", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>