<%= form_for(color, html: { class: "form-horizontal" }) do |f| %>

  <% if color.errors.any? %>
    <div class="alert alert-danger text-center">
      The form contains <%= pluralize(color.errors.count, "error") %>.
      <ul>
      <% color.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group text-center">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Color Name", class: "form-control" %>
  </div>

  <%= f.submit "Create Color", class: "btn btn-success btn-block" %>
<% end %>
