<% if @photo_type == "profile" %>
	<%= image_tag @photo.image.url(:profile), alt: @photo.image.url(:profile), class: "img-rounded" %>
<% elsif @photo_type == "casting" %>
	<%= link_to(casting_photo_path(@casting, @photo, type: "casting"), remote: true, class: "link-image" ) do %>
		<div id="casting-photo-<%= @photo.id %>" class="img-thumbnail list-photo-item">
			<%= image_tag @photo.image.url(:profile), alt: @photo.image.url(:profile) %>
		</div>
	<% end %>
<% else %>
	<%= link_to(album_photo_path(@album, @photo, type: "album"), remote: true, class: "link-image" ) do %>
		<div class="img-thumbnail" id="photo-<%=@album.id%><%=@photo.id%>">
			<%= image_tag @photo.image.url(:profile), alt: @photo.image.url(:profile) %>
		</div>
	<% end %>
<% end %>
