<% if @photo_type == "profile" %>
	<%= image_tag @photo.image.url(:profile), alt: @photo.image.url(:profile), class: "img-rounded" %>
<% else %>
	<%= link_to(album_photo_path(@album, @photo), remote: true, class: "link-image" ) do %>
		<div class="img-thumbnail" id="photo-<%=@album.id%><%=@photo.id%>">
			<%= image_tag @photo.image.url(:profile), alt: @photo.image.url(:profile) %>
		</div>
	<% end %>
<% end %>
