<h1 class="header text-center text-white"><%= t('views.mailers.global.user_friendly') %> <%= @profile.get_first_name %></h1>
<h2><%= t('views.messages.index.templates.message_custom_send.header_text') %></h2>

<p><%= @body %></p>

<h3><%= t('views.messages.index.templates.message_custom_send.footer_text') %></h3>

<p><%= t('views.mailers.global.mail_footer') %></p>