<div class="row">
	<div class="col-md-12 col-xs-12">
		<%= image_tag "cubamodela_custom_errors_banner.png", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-full" %>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div class="relative-position">
			<%= link_to root_url, id: "error-logo-link" do %>
				<%= image_tag "cubamodela_logo_blue.png", width:"25%", alt: "Logo", class: "img-center-horizontal img-responsive" %>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div id="error-header-text" class="error-center-content">
			<h2 class="text-center"><%= t('exception.show.header_text') %></h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div id="error-details-text" class="error-center-content">
			<p class="text-center">
				Details: <%= details[:name] %> - <%= details[:message] %>
			</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<div id="error-action" class="error-center-content">
			<h4 class="text-center"><%= t('exception.show.actions_text') %></h4>
			<%= link_to "CubaModela", root_url, class: "btn btn-primary" %>
			<%= link_to t('views.footer.link_models_text'), profile_models_url, class: "btn btn-primary" %>
			<%= link_to t('views.footer.link_photographers_text'), profile_photographers_url, class: "btn btn-primary" %>
			<%= link_to t('views.footer.link_castings_text'), castings_url, class: "btn btn-primary" %>
			<%= link_to t('views.footer.link_registration_text'), new_registration_url(resource_name), class: "btn btn-primary" %>
			<%= link_to t('views.footer.link_gallery_text'), static_pages_gallery_url, class: "btn btn-primary" %>
			<%= link_to t('forms.buttons.back'), request.referrer, class: "btn btn-primary" %>
		</div>
	</div>
</div>