<div class="form-wrapper-large form-border">

  <%= form_for(province, html: { class: "form-horizontal" }) do |f| %>
    
    <% if province.errors.any? %>
      <div class="alert alert-danger text-center">
        <%= t('forms.errors.header_text') %> <%= t('forms.errors.count', count: province.errors.count) %>.
        <ul>
        <% province.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group text-center">
      <%= f.label :name_en %>
      <%= f.text_field :name_en, placeholder: t('activerecord.attributes.province.name_en'), class: "form-control" %>
    </div>

    <div class="form-group text-center">
      <%= f.label :name_es %>
      <%= f.text_field :name_es, placeholder: t('activerecord.attributes.province.name_es'), class: "form-control" %>
    </div>

    <%= f.submit t('forms.buttons.save'), class: "btn btn-primary btn-block" %>
  <% end %>

</div>
