<div id="profile-model-albums-container">
	<div class="row">
		<div class="col-md-12">
			<div id="form-new-album-container"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<%= link_to t('views.albums.index.buttons.new'), new_album_path, remote: true, id: "new-album-link", class: "btn btn-primary btn-block btn-ms" %><br />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div id="albums-container">
				<% @albums.each do |album| %>
					<% if !(album.name == "Profile Photo") %>
						<div id="panel-<%= album.id %>" class="panel panel-default">
						  <div class="panel-heading">
						  	<div class="row">
								<div class="col-md-8">
									<div id="form-edit-album-<%= album.id %>-container">
								  	</div>
								    <h3 id="title-<%= album.id %>" class="panel-title">
								    	<%= album.name %>
								    	<br/>
								    	<span class="small-info">
									    	<% if album.name == "Professional Book" %>
									    		[ <%= t('views.profile_models.edit.albums.warnings.professional_max_text', value: @profile.plan.album_professional_max) %> ]
									    	<% else %>
									    		[ <%= t('views.profile_models.edit.albums.warnings.professional_max_text', value: @profile.plan.album_polaroid_max) %> ]
									    	<% end %>
								    	</span>
								    </h3>
								</div>
								<div class="col-md-4">
									<%= link_to t('forms.buttons.upload'), new_album_photo_path(album, type: "album"), remote: true, class: "btn btn-primary btn-xs pull-right btn-small-right-margin" %>
									<% if can_update_or_delete?(album) %>
							    		<%= link_to t('forms.buttons.delete'), delete_album_path(album), remote: true, class: "btn btn-primary btn-xs pull-right btn-small-right-margin" %>
							    		<%= link_to t('forms.buttons.edit'), edit_album_path(album), remote: true, class: "btn btn-primary btn-xs pull-right btn-small-right-margin" %>
						    		<% end %>
								</div>
							</div>
						  </div>
						  <div class="panel-body">
						    <div class="row">
								<div class="col-md-12">
									<div id="body-album-<%= album.id %>" class="profile-album-photos-container">
										<% if album.photos.any? %>
											<% album.photos.each do |photo| %>
											  <%= link_to(album_photo_path(album, photo, type: "album"), remote: true, class: "link-image") do %>
												  <div class="img-thumbnail" id="photo-<%=album.id%><%=photo.id%>">
												    <%= image_tag photo.image.url(:profile), alt: photo.image.url(:profile) %>
												  </div>
											  <% end %>
											<% end %>
										<% else %>
											<h4 class="pull-left" style="margin-right: 30px;">
												<%= t('views.albums.global.empty_album') %>
											</h4>
											<%= link_to t('forms.buttons.upload'), new_album_photo_path(album, type: "album"), remote: true, class: "btn btn-primary" %>
										<% end %>
									</div>
								</div>
							</div>
						  </div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>