<div id="profile-model-fields-container" class="well">
  <%= form_for(@profile, remote: true) do |f| %>
	<div class="row">
		<div class="col-md-12">
			<%= f.submit "Save changes", class: "btn btn-success btn-block btn-ms" %><br />
		</div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Name</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
	  		<div class="col-md-4 text-center">
				<%= f.label :gender %>
				<div class="form-group">
					<div class="row">
						<div class="col-md-6">
					    	<%= f.radio_button :gender, "Female" %>
							<%= f.label :gender, 'Female' %>
						</div>
						<div class="col-md-6">
					    	<%= f.radio_button :gender, "Male" %>
							<%= f.label :gender, 'Male' %>
						</div>
					</div>
			    </div>
			</div>
			<div class="col-md-4">
			    <div class="form-group text-center">
			      <%= f.label :first_name %><br />
			      <%= f.text_field :first_name, placeholder: "First name", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="form-group text-center">
			      <%= f.label :last_name %><br />
			      <%= f.text_field :last_name, placeholder: "Last name", class: "form-control text-center" %>
			    </div>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Contact</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
			<div class="col-md-4">
			    <div class="form-group text-center">
			      <%= f.label :mobile_phone %><br />
			      <%= f.text_field :mobile_phone, placeholder: "Mobile", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="form-group text-center">
			      <%= f.label :land_phone %><br />
			      <%= f.text_field :land_phone, placeholder: "Land Phone", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-4">
	    		<div class="form-group text-center">
			      <%= f.label :address %><br />
			      <%= f.text_area :address, size: "60x3", placeholder: "Address", class: "form-control text-center" %>
			    </div>
	    	</div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Procedence</h3>
	  </div>
	  <div class="panel-body">
	    <div class="row">
			<div class="col-md-3">
				<div class="form-group text-center">
			      <%= f.label :current_province_id %><br />
			      <%= f.select :current_province_id, Province.all.collect {|p| [ p.name, p.id ] }, { include_blank: "Select Province" }, class: "form-control" %>
			    </div>
			</div>
			<div class="col-md-3">
				<div class="form-group text-center">
			      <%= f.label :nationality_id %><br />
			      <%= f.select :nationality_id, Nationality.all.collect {|n| [ n.name_es, n.id ] }, class: "form-control" %>
			    </div>
			</div>
		</div>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Body specs</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
			<div class="col-md-12">
				<div class="form-group text-center">
			      <%= f.label :ayes_color_id %><br />
			      <div class="row">
				      <% Color.all.each do |color| %>
				      	<div class="col-md-2">
						    <%= f.radio_button :ayes_color_id, color.id %>
						    <%= f.label :ayes_color_id, color.name %>
					    </div>
					  <% end %>
				  </div>
			    </div>
			</div>
		</div>
	    <div class="row">
			<div class="col-md-2">
			    <div class="form-group text-center">
			      <%= f.label :chest %><br />
			      <%= f.text_field :chest, placeholder: "Chest", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-2">
	    		<div class="form-group text-center">
			      <%= f.label :waist %><br />
			      <%= f.text_field :waist, placeholder: "Waist", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-2">
	    		<div class="form-group text-center">
			      <%= f.label :hips %><br />
			      <%= f.text_field :hips, placeholder: "Hips", class: "form-control text-center" %>
			    </div>
	    	</div>
	    	<div class="col-md-2">
				<div class="form-group text-center">
			      <%= f.label :size_shoes %><br />
			      <%= f.text_field :size_shoes, placeholder: "Shoes", class: "form-control text-center" %>
			    </div>
			</div>
			<div class="col-md-2">
				<div class="form-group text-center">
			      <%= f.label :size_cloth %><br />
			      <%= f.text_field :size_cloth, placeholder: "Dress/Suit", class: "form-control text-center" %>
			    </div>
			</div>
	    </div>
	  </div>
	</div>
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Aptitudes</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
			<div class="col-md-12">
				<div class="form-group text-center">
			      <%= f.label "I speak:" %><br />
			      <div class="row">
				      <%= f.collection_check_boxes :language_ids, Language.all, :id, :name do |l| %>
				      	<div class="col-md-3">
						    <div class="checkbox-container">
						      <%= l.check_box %>
						      <%= l.label %>
						    </div>
					    </div>
					  <% end %>
			       </div>
			    </div>
			</div>
		</div>
	    <div class="row">
			<div class="col-md-12">
				<div class="form-group text-center">
			      <%= f.label "I can:" %><br />
			      <div class="row">
				      <%= f.collection_check_boxes :expertise_ids, Expertise.all, :id, :name do |e| %>
				      	<div class="col-md-3">
						    <div class="checkbox-container">
						      <%= e.check_box %>
						      <%= e.label %>
						    </div>
						</div>
					  <% end %>
				  </div>
			    </div>
			</div>
		</div>
	  </div>
	</div>
  <% end %>
</div>