<div class="container-min-height" id="img-list-container">
	<% models.each do |model| %>
		<div class="img-thumbnail list-photo-item img-wrapper">
			<div class="<%= get_premium_border(model) %>">
				<%= link_to(show_resume_profile_model_path(model), remote: true, class: "link-image") do %>
						<%= image_tag model.get_profile_picture_url(:profile), alt: "Model Photo", class: "img-responsive" %>	
				<% end %>
			</div>
			<div class="text-center" style="margin-top: 5px;">
				<%= link_to model.get_first_name, profile_model_path(model), class: "btn btn-default btn-block btn-xs" %>
			</div>
			<div class="profile-status">
				<% if model.new_face? %>
					<%= image_tag "new_face.png", height: 25, width: 25, class: "img-inline", alt: "New face", title: t('views.profile_models.index.tooltips.new_face'), data:{ toggle: "tooltip", placement: "bottom" } %>
				<% else %>
					<%= image_tag "professional_model.png", height: 25, width: 25, class: "img-inline", alt: "Professional model", title: t('views.profile_models.index.tooltips.professional_model'), data:{ toggle: "tooltip", placement: "bottom" } %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<div id="modal-container" class="modal fade"></div>