<% if @profile.get_profesional_book_album_photos.any? %>
	<div class="row row-profile-imgs">

		<% @container.each do |column| %>
			<div class="col-md-<%= @column_size %> col-xs-<%= @column_size %> col-profile-imgs">
				<% column.each do |photo| %>
					<%= link_to(selected_photo_profile_model_path(@profile, photo), remote: true, class: "link-image") do %>
						<%= image_tag photo.image.url(:big), alt: "Model Photo", class: "img-responsive profile-photo" %>
					<% end %>
				<% end %>
			</div>
		<% end %>

	</div>
<% else %>
	<h4 class="text-center"><%= t('views.profile_models.show.professional_book_empty_text') %></h4>
<% end %>