<% if @profile.reviewed %>
	<div class="row row-profile-container">
		<div class="col-md-8">
			<div class="profile-section">
				<div id="profile-photo-selected-container" class="item" >
					<%= image_tag @profile.get_profesional_book_album_photos.first.image.url, alt: "Model Photo", class: "img-center-horizontal img-responsive" %>
				</div>
			</div>
			<div class="profile-section">
				<ul class="nav nav-pills nav-justified nav-profile">
					<li role="presentation" id="profile-photos-professional" class="profile_menu active">
					  	<%= link_to 'Professional', show_professional_photos_profile_model_path(@profile), remote: true %>
					</li>
					<li role="presentation" id="profile-photos-polaroid" class="profile_menu">
					  	<%= link_to 'Polaroid', show_polaroid_photos_profile_model_path(@profile), remote: true %>
					</li>
				</ul>
			</div>
			<div class="profile-section">
				<div id="profile-photos-selected">
					<%= render 'photos_professional' %> 
				</div>
			</div>
			<div class="profile-section">
				<div id="reviews-list">
					<h4><%= t('views.profile_models.show.headers.reviews') %></h4>
					<% if @profile.reviews.any? %>
						<% @profile.reviews.order("created_at DESC").each do |review| %>
							<div class="row">
								<div class="col-md-2">
									<%= image_tag review.fromable.get_profile_picture_url(:list), alt: "Model Photo", class: "img-center-horizontal img-responsive" %>
								</div>
								<div class="col-md-10">
									<% if I18n.locale == "en".to_sym %>
										<blockquote>
										  <p><%= review.review_en %></p>
										  <footer><cite title="Spanish">Spanish: </cite><%= review.review_es %></footer>
										</blockquote>
									<% else %>
										<blockquote>
										  <p><%= review.review_es %></p>
										  <footer><cite title="English">English: </cite><%= review.review_en %></footer>
										</blockquote>
									<% end %>
									<p class="small-date pull-right">
										<%= distance_of_time_in_words(review.created_at, DateTime.now) << t('datetime.distance_in_words.after_text_past') %>
									</p>
								</div>
							</div>
						<% end %>
					<% else %>
						<h4 class="text-center"><%= t('views.profile_models.show.reviews_empty_text') %></h4>
					<% end %>
				</div>
			</div>
			<% if current_user.contractor? %>
				<div class="profile-section">
					<div id="review-form">
						<h4><%= t('views.profile_models.show.leave_review') %></h4>
						<%= render 'form_review' %>	
					</div>
				</div>
			<% end %>
		</div>
		<div class="col-md-4">
			<div class="profile-section">
				
			</div>
			<div class="profile-section">
				<div class="text-center">
					<div class="row">
						<div class="col-md-6">
							<div id="profile-picture">
								<%= image_tag @profile.get_profile_picture_url(:profile), alt: "Model Photo", class: "img-responsive" %>
							</div>
						</div>
						<div class="col-md-6">
							<div>
								<h2 id="profile-first-name"><%= @profile.get_first_name %></h2>
								<p id="votes-count-up" class="profile-value">
									( <%= t('views.profile_models.votes.count', count: @profile.get_votes_count) %> )
								</p>
								<% if current_user.contractor? %>
							        <%= link_to t('views.profile_models.show_resume.buttons.invite'), custom_index_invite_castings_path(current_user.profileable, @profile), class: "btn btn-primary btn-block btn-xs" %>
							        <%= link_to t('views.profile_models.show_resume.buttons.booking'), new_booking_path(profile_id: @profile), class: "btn btn-primary btn-block btn-xs" %>
						        <% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-section">
				<h4><%= t('views.profile_models.show.headers.information') %></h4>
				<% if @profile.current_province.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.current_province_id') %>:
		            	</b> 
		            	<%= @profile.current_province.name %>
		            </p>
		        <% end %>
		        <% if @profile.nationality.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.nationality_id') %>:
		            	</b> 
		            	<%= @profile.nationality.name %>
		            </p>
		        <% end %>
		        <% if @profile.birth_date.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.age') %>:
		            	</b> 
		            	<%= @profile.get_age %>
		            </p>
		        <% end %>
		        <% if @profile.gender.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.gender') %>:
		            	</b> 
		            	<%= @profile.gender %>
		            </p>
		        <% end %>
		        <% if @profile.ethnicity.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.ethnicity_id') %>:
		            	</b> 
		            	<%= @profile.ethnicity.name %>
		            </p>
		        <% end %>
			</div>
			<div class="profile-section">
				<h4><%= t('views.profile_models.show.headers.sizes') %></h4>
				<% if @profile.eyes_color.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.eyes_color_id') %>:
		            	</b> 
		            	<%= @profile.eyes_color.name %>
		            </p>
		        <% end %>
				<% if @profile.height.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.height') %>:
		            	</b> 
		            	<%= @profile.height %>cm / <%= (@profile.height/2.54).round(2) %>''
		            </p>
		        <% end %>
				<% if @profile.chest.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.chest') %>:
		            	</b> 
		            	<%= @profile.chest.round(2) %> / <%= (@profile.chest/2.54).round(2) %>''
		            </p>
		        <% end %>
		        <% if @profile.waist.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.waist') %>:
		            	</b> 
		            	<%= @profile.waist.round(2) %> / <%= (@profile.waist/2.54).round(2) %>''
		            </p>
		        <% end %>
		        <% if @profile.hips.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.hips') %>:
		            	</b> 
		            	<%= @profile.hips.round(2) %> / <%= (@profile.hips/2.54).round(2) %>''
		            </p>
		        <% end %>
		        <% if @profile.size_shoes.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.size_shoes_label') %>:
		            	</b> 
		            	<%= @profile.size_shoes.to_i.to_s << " EU" %> / <%= ShoeSize.get_eur_size(@profile.gender, @profile.size_shoes) %> / <%= ShoeSize.get_uk_size(@profile.gender, @profile.size_shoes) %>
		            </p>
		        <% end %>
		        <% if @profile.size_cloth.present? %>
		            <p class="profile-value">
		            	<b>
		            		<%= t('activerecord.attributes.profile_model.size_cloth_label') %>:
		            	</b> 
		            	<%= @profile.size_cloth.to_i.to_s << " EU" %> / <%= ClothSize.get_eur_size(@profile.gender, @profile.size_cloth) %> / <%= ClothSize.get_uk_size(@profile.gender, @profile.size_cloth) %>
		            </p>
		        <% end %>
			</div>
			<div class="profile-section">
				<h4><%= t('views.profile_models.show.headers.languages') %></h4>
				<% if @profile.languages.any? %>
					<div class="row">
						<div class="col-md-6">
							<% @profile.languages.limit(@language_cols_batch).each do |l| %>
								<p class="profile-value">
					            	<%= l.name %>
					            </p>
							<% end %>
						</div>
						<div class="col-md-6">
							<% @profile.languages.offset(@language_cols_batch).each do |l| %>
								<p class="profile-value">
					            	<%= l.name %>
					            </p>
							<% end %>
						</div>
					</div>
		        <% end %>
			</div>
			<div class="profile-section">
				<h4><%= t('views.profile_models.show.headers.modalities') %></h4>
				<% if @profile.modalities.any? %>
					<div class="row">
						<div class="col-md-6">
							<% @profile.modalities.limit(@modality_cols_batch).each do |m| %>
								<p class="profile-value">
					            	<%= m.name %>
					            </p>
							<% end %>
						</div>
						<div class="col-md-6">
							<% @profile.modalities.offset(@modality_cols_batch).each do |m| %>
								<p class="profile-value">
					            	<%= m.name %>
					            </p>
							<% end %>
						</div>
					</div>
		        <% end %>
			</div>
			<div class="profile-section">
				<h4><%= t('views.profile_models.show.headers.categories') %></h4>
				<% if @profile.categories.any? %>
					<div class="row">
						<div class="col-md-6">
							<% @profile.categories.limit(@category_cols_batch).each do |c| %>
								<p class="profile-value">
					            	<%= c.name %>
					            </p>
							<% end %>
						</div>
						<div class="col-md-6">
							<% @profile.categories.offset(@category_cols_batch).each do |c| %>
								<p class="profile-value">
					            	<%= c.name %>
					            </p>
							<% end %>
						</div>
					</div>
		        <% end %>
			</div>
			<div class="profile-section">
				<div class="row">
					<div class="col-md-6">
						<h4 id="reviews-count" class="text-center">
							<%= t('views.reviews.count', count: @profile.reviews.count) %>
						</h4>
						<% if @profile.reviews.count == 0 %>
							<p class="profile-value">
								<%= t('views.reviews.leave_review_text') %>
							</p>
						<% end %>
					</div>
					<div class="col-md-6">
						<%= link_to t('views.reviews.buttons.see_reviews'), "#reviews-list", class: "btn btn-primary btn-block btn-xs" %>
						<% if current_user.contractor? %>
							<%= link_to t('views.reviews.buttons.leave_review'), "#review-form", class: "btn btn-primary btn-block btn-xs" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="profile-section">
				<div class="row">
					<div class="col-md-5">
						<h4 id="votes-count" class="text-center">
							<%= t('views.profile_models.votes.count', count: @profile.get_votes_count) %>
						</h4>
					</div>
					<div class="col-md-7">
						<% if @profile.can_vote?(current_user.profileable) %>
							<%= link_to t('views.profile_models.show.buttons.vote'), vote_profile_model_path(@profile, current_user.profileable, current_user.profileable.class.name), remote: true, class: "btn btn-primary btn-block", id: "btn-vote" %>
						<% else %>
							<%= link_to t('views.profile_models.show.buttons.vote'), vote_profile_model_path(@profile, current_user.profileable, current_user.profileable.class.name), remote: true, class: "btn btn-primary btn-block btn-disabled", id: "btn-vote" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
<% else %>
	<h1>Sorry this profile is pending review</h1>
<% end %>