<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
			<%= link_to root_path, class: "navbar-brand" do %>
				<%= image_tag "cubamodela_logo_blue.png", width:"90", alt: "Logo" %>
			<% end %>
		</div>

		<div class="collapse navbar-collapse" id="bs-navbar-collapse">
			<ul id="navbar-ul" class="nav navbar-nav">
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.items.models') %><span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><%= link_to t('menu.items_options.models.all'), profile_models_path %></li>
		            <li><%= link_to t('menu.items_options.models.search'), search_profile_models_path %></li>
		            <li><%= link_to t('menu.items_options.models.search_random'), index_random_profile_models_path %></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to t('menu.items_options.models.castings'), castings_path %></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to t('menu.items_options.models.premium'), index_premium_models_profile_models_path %></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to t('menu.items_options.models.professional'), index_professional_models_profile_models_path %></li>
		            <li><%= link_to t('menu.items_options.models.new_faces'), index_new_faces_profile_models_path %></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.items.photographers') %><span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><%= link_to "Coming Soon", "#" %></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.items.services') %><span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Coming Soon</a></li>
		          </ul>
		        </li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('menu.items.more') %><span class="caret"></span></a>
		          <ul class="dropdown-menu">
		          	<li><%= link_to t('menu.items_options.more.profile_example'), "#" %></li>
		            <li><%= link_to t('menu.items_options.more.gallery'), static_pages_gallery_path %></li>
		            <li role="separator" class="divider"></li>
		            <li><%= link_to t('menu.items_options.more.castings'), castings_path %></li>
					<li><%= link_to t('menu.items_options.more.registration'), new_registration_path(resource_name) %></li>
		          </ul>
		        </li>
			</ul>
			<% if user_signed_in? %>
				<% if current_user.model? %>
					<%= link_to t('menu.options.find_casting'), castings_path, class: "btn btn-primary navbar-btn navbar-btn-custom-extra" %>
				<% end %>
				<% if current_user.admin? %>
					<%= link_to t('menu.options.control_panel'), control_panel_path, class: "btn btn-primary navbar-btn navbar-btn-custom-extra" %>
				<% end %>
				<%= render 'layouts/signed_in_true' %>
			<% else %>
				<%= render 'layouts/signed_in_false' %>
			<% end %>
		</div>
	</div>
</nav>