<div id="home-banner-carousel" class="carousel slide" data-interval="35000" data-ride="carousel" data-pause="null">
	<!-- Wrapper for slide -->
	<div class="carousel-inner" role="listbox">

		<!-- Slide 0 -->
		<div class="item active">
			<%= image_tag "cubamodela_home_banner_cuba_models_slide_1_en.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-full" %>
			<div class="carousel-caption">
				<% if !user_signed_in? %>
					<div>
						<%= link_to(new_registration_path(resource_name), class: "btn btn-primary btn-lg") do %>
							<p class="lead"><%= t('menu.auth.buttons.banner_log_up_header_text') %></p>
							<p><%= t('menu.auth.buttons.banner_log_up_subheader_text') %></p>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

		<!-- Slide 1 -->
		<div class="item">
			<%= image_tag "cubamodela_home_banner_cuba_models_slide_2_en.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-full" %>
			<div class="carousel-caption">
			</div>
		</div>

		<!-- Slide 2 -->
		<div class="item">
			<%= image_tag "cubamodela_home_banner_cuba_models_slide_3_en.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-full" %>
			<div class="carousel-caption">
			</div>
		</div>

		<!-- Slide 3 -->
		<div class="item">
			<%= image_tag "cubamodela_home_banner_cuba_models_slide_4_en.jpg", alt: "CubaModela Cuba Havana Models Fashion Photography", class: "img-full" %>
			<div class="carousel-caption">
			</div>
		</div>

	</div>
</div>