<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to root_path, class: "navbar-brand" do %>
				<%= image_tag "logo_navbar.gif", size:"64x30", alt: "Logo" %>
			<% end %>
		</div>

		<ul class="nav navbar-nav" style="font-size: <%= get_navbar_items_size.to_s %>px;">
			<li><a href="#models-container"><%= t('menu.items.models') %></a></li>
			<li><a href="#photographers-container"><%= t('menu.items.photographers') %></a></li>
			<li><a href="#us-container"><%= t('menu.items.us') %></a></li>
			<li><a href="#partners-container"><%= t('menu.items.partners') %></a></li>
			<li><a href="#articles-container"><%= t('menu.items.articles') %></a></li>
		</ul>
		<% if user_signed_in? %>
			<% if current_user.model? %>
				<%= link_to t('menu.options.find_casting'), castings_path, class: "btn btn-primary navbar-btn" %>
			<% end %>
			<% if current_user.admin? %>
				<%= link_to t('menu.options.control_panel'), control_panel_path, class: "btn btn-primary navbar-btn" %>
			<% end %>
			<%= render 'layouts/signed_in_true' %>
		<% else %>
			<%= render 'layouts/signed_in_false' %>
		<% end %>
	</div>
</nav>