<div class="btn-group visible-lg-inline-block">
  <button type="button" class="btn btn-primary navbar-btn" aria-label="Left Align">
    <span><%= I18n.locale.upcase %></span>
  </button>
  <button type="button" class="btn btn-primary dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
  	<li><%= link_to t('menu.locales.en'), change_locale_path(:en) %></li>
  	<li><%= link_to t('menu.locales.es'), change_locale_path(:es) %></li>
  </ul>
</div>

<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block">
  <%= link_to t('menu.locales.en'), change_locale_path(:en), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
  <%= link_to t('menu.locales.es'), change_locale_path(:es), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
</div>