<% if devise_controller? %>
	<div id="navbar-signed-in-settings-container" class="navbar-right visible-lg-inline">
		<% if controller_name != "sessions" %>
			<%= link_to "Log in", new_session_path(resource_name), class: "btn btn-primary navbar-btn" %>
		<% end %>
		<% if controller_name != "registrations" %>
			<%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary navbar-btn" %>
		<% end %>
		<% if controller_name != "passwords" %>
			<%= link_to "Recover", new_password_path(resource_name), class: "btn btn-primary navbar-btn" %>
		<% end %>
		<%= render 'layouts/locales_options' %>
	</div>

	<div id="navbar-signed-in-settings-container" class="navbar-right visible-sm-inline visible-md-inline">
		<div class="pull-right btn-small-right-margin">
			<%= render 'layouts/locales_options' %>
		</div>
		<span class="pull-right navbar-btn btn-small-right-margin"></span>
		<% if controller_name != "sessions" %>
			<%= link_to "Log in", new_session_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<% end %>
		<% if controller_name != "registrations" %>
			<%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<% end %>
		<% if controller_name != "passwords" %>
			<%= link_to "Recover", new_password_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<% end %>
	</div>

	<div id="navbar-signed-in-settings-container" class="navbar-right visible-xs-inline">
		<span class="pull-right navbar-btn btn-small-right-margin"></span>
		<% if controller_name != "sessions" %>
			<%= link_to "Log in", new_session_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<% end %>
		<% if controller_name != "registrations" %>
			<%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<% end %>
		<% if controller_name != "passwords" %>
			<%= link_to "Recover", new_password_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<% end %>
		<span class="clearfix"></span>
		<div class="pull-right btn-small-right-margin">
			<%= render 'layouts/locales_options' %>
		</div>
	</div>
<% else %>
	<div id="navbar-signed-in-settings-container" class="navbar-right visible-lg-inline">
		<%= link_to t('menu.auth.buttons.log_up'), new_registration_path(resource_name), class: "btn btn-primary navbar-btn" %>
		<%= link_to t('menu.auth.buttons.log_in'), new_session_path(resource_name), class: "btn btn-primary navbar-btn" %>
		<%= render 'layouts/locales_options' %>
	</div>

	<div id="navbar-signed-in-settings-container" class="navbar-right visible-sm-inline visible-md-inline">
		<div class="pull-right btn-small-right-margin">
			<%= render 'layouts/locales_options' %>
		</div>
		<span class="pull-right navbar-btn btn-small-right-margin"></span>
		<%= link_to t('menu.auth.buttons.log_in'), new_session_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<%= link_to t('menu.auth.buttons.log_up'), new_registration_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
	</div>

	<div id="navbar-signed-in-settings-container" class="navbar-right visible-xs-inline">
		<%= link_to t('menu.auth.buttons.log_in'), new_session_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<%= link_to t('menu.auth.buttons.log_up'), new_registration_path(resource_name), class: "btn btn-primary navbar-btn pull-right btn-small-right-margin" %>
		<span class="clearfix"></span>
		<div class="pull-right btn-small-right-margin">
			<%= render 'layouts/locales_options' %>
		</div>
	</div>
<% end %>