<div id="navbar-signed-in-settings-container" class="navbar-right">
	<% if current_user.admin? %>
		<span id="navbar-admin-email"><%= t('menu.messages.admin') %> <%= current_user.email %></span>
	<% else %>
		<span id="navbar-profile-photo">
			<%= image_tag current_user.profileable.nil? ? "missing_profile_picture.jpg" : current_user.profileable.get_profile_picture_url(:user), alt: "Model Photo", class: "img-rounded" %>
		</span>
	<% end %>
	<div class="btn-group">
	  <button type="button" class="btn btn-primary" aria-label="Left Align">
	    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	  </button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu">
	    <%= render 'layouts/signed_in_true_options' %>
	  </ul>
	</div>
	<%= link_to t('forms.buttons.log_out'), destroy_user_session_path, method: :delete, class: "btn btn-primary navbar-btn", style: "margin-right: 20px;" %>
	<%= render 'layouts/locales_options' %>
</div>