<% case current_user.role %>
<% when "admin" %>
	<li><%= link_to t('menu.options.control_panel'), "#" %></li>
	<li><a href="#">t('menu.options.inbox')</a></li>
	<li role="separator" class="divider"></li>
	<li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
<% when "user" %>
	<% case current_user.kind %>
	<% when "contractor" %>
		<li><%= link_to t('menu.options.account'), edit_user_registration_path %></li>
		<li><%= link_to t('menu.options.profile'), get_profile_path %></li>
		<li><%= link_to t('menu.options.castings'), "#" %></li>
		<li><a href="#">Inbox</a></li>
		<li role="separator" class="divider"></li>
		<li><%= link_to t('menu.options.log_out'), destroy_user_session_path, method: :delete %></li>
	<% when "model" %>
		<li><%= link_to t('menu.options.account'), edit_user_registration_path %></li>
		<li><%= link_to t('menu.options.profile'), get_profile_path %></li>
		<li><%= link_to t('menu.options.inbox'), "#" %></li>
		<li role="separator" class="divider"></li>
		<li><%= link_to t('menu.options.log_out'), destroy_user_session_path, method: :delete %></li>
	<% when "photographer" %>
		<li><%= link_to t('menu.options.account'), edit_user_registration_path %></li>
		<li><%= link_to t('menu.options.profile'), get_profile_path %></li>
		<li><a href="#">Inbox</a></li>
		<li role="separator" class="divider"></li>
		<li><%= link_to t('menu.options.log_out'), destroy_user_session_path, method: :delete %></li>
	<% end %>
<% end %>