<!DOCTYPE html>
<html>
  <head>
    <title>Modelsincuba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#navbar-container" data-offset="150">

    <div id="main-container" class="container-fluid">

      <div class="row">
        <div id="navbar-container" class="col-md-12">
          <%= render 'layouts/home_navbar' %>
        </div>
      </div>

      <div class="row">
        <div id="flash-messages-container" class="col-md-12">
          <%= render 'layouts/flash_messages' %>
        </div>
      </div>

      <div class="row">
        <div id="banner-container" class="col-md-12">
          <%= render 'layouts/home_banner' %>
        </div>
      </div>

      <%= yield %>

      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
    
  </body>
</html>